[2020-03-19 17:35] andypiper opened #12 "Support for the new API features :-)"
Hello from Twitter Developer Relations!

First of all: Thank You, for building on our API, and for supporting our developer communities! You, and many projects like this one, are among the reasons why Twitter data is much-appreciated by developers. We historically haven't built libraries and SDKs - the communities, YOU, have done so - and I'm here to tell you how much we appreciate that, and that

[2020-03-19 19:29] redouane59 commented on #12
Hi @andypiper !
Thank you very for your message, of course it would be a pleasure to go further on this project and keep implementing the last twitter API features to help the community. Tell me what are the next steps !

[2020-03-23 18:43] andypiper commented on #12
We've just announced [support for annotations](https://twittercommunity.com/t/adding-annotations-to-tweets-and-recent-search-endpoints-in-labs/135193) in the v2 Tweets and search endpoints, and there will be more to come as we migrate more endpoints to v2 over the coming weeks. Longer term, of course, we'll be graduating these APIs to a production state, and having libraries available for develope

[2020-03-23 21:14] redouane59 commented on #12
Wow it looks awesome !! I'll try to check this topic this week and study its implementation.

[2020-04-01 18:46] redouane59 commented on #12
Done @andypiper  ;)

[2020-05-24 17:54] #12 closed

[2020-06-05 19:47] redouane59 opened #20 "Replace Date by LocalDateTime"
See https://github.com/redouane59/twitter-bot/pull/5#discussion_r435710587

thanks @hypr2771 for the feedback

[2020-08-13 15:25] kkuehl opened #26 "JDK 15 vs Android Studio"
I am excited about the new twitter-client, but it unfortunately makes Android Studio unhappy.
Unsupported class file version: 56
https://developer.android.com/studio/write/java8-support#supported_features

Any plans to eventually support JDK 8?
Thanks!

[2020-08-13 18:00] redouane59 commented on #26
Hi @kkuehl !
Thanks for your interest. Unfortunately the project is using some new features (came from Java 9 to Java 12) not present in java 8 so I could not downgrade it.
I really have poor Android skills but maybe [this](https://jakewharton.com/androids-java-9-10-11-and-12-support/) can help ?

[2020-08-16 06:40] allooba opened #30 "How to do a callback for Java desktop Application"
Hi;

Thank you for your awesome work.
I made my Twitter client for Android using another library. I came by your twitter library from Twitter developer site. I am planning to do a desktop application that can work on both windows and mac platforms, my question is, how to do callback function so it can retrieve the access token from the web after my app been authorized by the user?
Is there is any

[2020-08-16 08:40] redouane59 commented on #30
Hi @allooba ,
That's a good question, I didn't have yet the opportunity to work on user authentication so I don't have any idea about how to do that.
Currently the only existing method to get a token is [this one](https://github.com/redouane59/twitter-client/blob/master/src/main/java/com/github/redouane59/twitter/ITwitterClient.java#L205) but it only works for your developer account and not for an

[2020-08-16 16:03] redouane59 commented on #20
closed by https://github.com/redouane59/twitter-client/pull/31

[2020-08-16 16:03] #20 closed

[2020-08-17 06:07] allooba commented on #30
Hello Redouane;

Thank you for your reply.

I am not sure if Java for desktop application can support callback function as Android do. However; I can look from my side too, to see if that can be possible. I hope we can get a work around soon, so the app can be useful for many users.

Thanks.

[2020-08-17 08:43] redouane59 commented on #30
No problem, it would be a pleasure, keep me informed !

[2020-08-20 07:24] redouane59 opened #32 "Manage twitter credentials by argument"
As @hypr2771 was suggesting, we have to use an argument containing the credentials file path like :
`-Dtwitter.credentials.file.path=/my/path/to/json` instead of working with a fixed path in resources folder.
Without it, the external lib should not work.

[2020-08-20 17:29] redouane59 opened #34 "Use logback instead of java util logger"
[code]

[2020-08-20 18:16] #32 closed

[2020-08-22 08:02] redouane59 opened #36 "Manage credentials directly in code"
Find a way to manage credentials directly in code instead of using java program arguments.

Thanks for the suggestion @suhemparack

[2020-08-22 12:00] zxcV32 opened #37 "Question: Can this client tweet?"
I just discovered this java client library. Looks cool.

However, I was unable to find any information about tweeting text from this library.
Is this feature available that I am not able to see or it is not implemented yet?

[2020-08-24 16:35] #36 closed

[2020-08-26 16:14] redouane59 commented on #37
Hi @zxcV32 , this feature is now available in v1.4, don't hesitate to give me a feedback.

[2020-08-26 16:14] #37 closed

[2020-08-28 17:37] redouane59 opened #43 "Allow authentication only with Bearer Token"
For the users who don't want to use api key / secret key
@sparack

[2020-08-28 17:37] redouane59 opened #44 "Create two seperate Clients for V1 & V2"
@sparack

[2020-08-28 17:39] redouane59 opened #45 "Not closed connection issue"
When calling some endpoint (i.e: getTweet) outside unit test (e.g in a main class), the connection is not closed after usage and the program never ends.
@sparack

[2020-08-28 17:41] redouane59 opened #46 "Improve Search Tweets endpoints"
Currently the methods like `searchForTweetsWithin7days` only allow to get a fix result size (100). It would be better to give the user the possibility to make several calls using a `next_token` got on the method turn to retrieve more tweets.

@sparack

[2020-08-28 17:43] redouane59 opened #47 "Rename some classes"
- Remove DTO from some class names (suggested by @hypr2771)
- Remove the letter `I` from interfaces (suggested by @sparack)

[2020-08-28 17:45] redouane59 opened #48 "Rename the library"
Find a name more personal.

Impacts :
- Maven central repository
- SonarCloud
- TravisCI
- Local git config
- Readme urls

[2020-08-29 14:20] redouane59 commented on #45
It looks like the thread is stuck in `java.net.SocketInputStream.socketRead0`

[2020-08-29 18:06] redouane59 commented on #46
I've got a big difficulty here, if I want to conserve the method signature (`List<Tweet> searchForTweetsWithin7days(String query, LocalDateTime fromDate, LocalDateTime toDate)`), I won't be able to return the `next_token` data in addition.
2 solutions :
1/ return a `Tuple<List<Tweet>, String>` using vavr
2/ return a new object `TweetSearchResponse` which will contain a field with `List<Tweet> twee

[2020-08-30 09:47] #48 closed

[2020-08-30 09:47] #47 closed

[2020-08-30 09:47] #44 closed

[2020-08-30 10:35] redouane59 commented on #45
Using the last version of OkHttp and closing explicitly each response using `response.close()`, the process is still stuck somewhere :
![image](https://user-images.githubusercontent.com/4500524/91656925-26dda580-eabd-11ea-9dd7-93570e71bdc8.png)

[2020-08-31 08:08] hypr2771 commented on #46
What is the functional use of `next_token`?
Could you instead give the API user a context from which he can keep on launching request?
For instance, in standard Spring Data JPA one can use `Pageable` in order to give an indicator of the current page to request, as well exposing a way to easily query the next page.

[2020-08-31 08:51] RedouaneBALI commented on #46
I think that this is the same that what you have in mind :

[source](https://developer.twitter.com/en/docs/twitter-api/tweets/search/introduction)

Basically the user could decide to launch his request adding the `next_token` argument to continue requesting from the last tweet he reached on the previous call.

[2020-08-31 08:54] redouane59 commented on #46
I think that this is the same that what you have in mind :

[source](https://developer.twitter.com/en/docs/twitter-api/tweets/search/introduction)

Basically the user could decide to launch his request adding the `next_token` argument to continue requesting from the last tweet he reached on the previous call.

[2020-09-01 16:14] redouane59 commented on #45
@hypr2771 no idea ? I'm completely stuck :'(

[2020-09-01 16:24] redouane59 commented on #43
I don't find the right way to do it @sparack , if I allow the user to instantiate the client just using a bearer token, a lot of endpoints won't be working (ex: follow/unfollow endpoints).

[2020-09-02 19:14] #46 closed

[2020-09-03 21:04] #43 closed

[2020-09-07 19:24] redouane59 commented on #45
StackOverFlow post created [here](https://stackoverflow.com/questions/63783108/program-stuck-in-socketread0-method-when-requesting-with-okhttp)

[2020-09-08 17:58] #45 closed

[2020-09-08 20:06] psoares opened #63 "Nullpointer exception on getTweetType()"
When invoking TweetV2::getTweetType, I sometimes get a NullPointerException.
Example tweet currently causing the issue:
![image](https://user-images.githubusercontent.com/192243/92522798-4aa39880-f1ed-11ea-988e-598844c4f763.png)

[2020-09-08 20:55] redouane59 commented on #63
Hi @psoares ,
Thanks for the feedback !
You're right, my implementation for this method is really bad and should never return a null value. I will update it to return something like `TweetType.DEFAULT` if the API doesn't provide the `referenced_tweets`.

[2020-09-09 18:38] redouane59 commented on #63
Fix was merged on the develop branch. It will be included on the next release ;)

Thanks again for your feedback !

[2020-09-10 16:29] redouane59 commented on #63
Fixed in `v1.10`. If you have any other problem, please let me know.

[2020-09-10 16:29] #63 closed

[2020-09-12 15:58] redouane59 commented on #30
Hi again @allooba , this problem will be solved thanks to PR https://github.com/redouane59/twittered/pull/70 .
You will be able to do something like
[code]
Then you can redirect your user to this URL to get a pin code and after, just call
[code]
with the previous token to have the needed access tokens !

[2020-09-13 20:05] #30 closed

[2020-09-15 21:01] redouane59 opened #76 "Next_token parameter KO"
Calling recent search 7 days endpoint with next_token parameter, the API response is always empty.

[2020-09-15 21:05] #76 closed

[2020-09-21 19:02] jkolobok commented on #26
Unfortunately the project is unusable because of jdk 12. Who uses jdk 12 in a serious project?
The library should support at least jdk8 to become popular.

[2020-09-22 00:06] jkolobok commented on #26
Apparently compilation works with java8 without any problems (just need to change version in pom)

[2020-09-22 01:28] jkolobok commented on #26
ok. I was not quite right. Doesn't compile, but the changes were very simple. I'll create a pull request.

[2020-09-22 08:09] hypr2771 commented on #26
Just saying, following JDK releases is _not_ a bad practice.
JDK are bringing many handy features over time, and jumping multiple major versions is _never_ easy (if you want to do it correctly).
Why do you think JDK8 should be used to build instead of most recent releases?

[2020-09-22 18:10] jkolobok commented on #26
Not a bad practice for what?
https://www.jetbrains.com/lp/devecosystem-2020/java/
The majority of projects are still using jdk 8 or 11. JDK 9,10,12(!),13,14(!) Are not supported anymore.
I'd somehow understand support of jdk11+, but the only thing used from jdk 11 is List.of instead of old Arrays.asList and Optional.isEmpty instead of just !Optional.isPresent. Is it really so important?

Which exa

[2020-09-23 04:46] hypr2771 commented on #26
I _understand_ that many projects still uses JDK 8, but it _does not_ mean that it is a good practice.
How long will it take for those project to migrate to JDK 15 when it might become the next long term support version? Which regression might it bring (disordered `Set` for instance)?
By migrating, I mean stop using deprecated features to use the recommended ones, _not_ just changing the build and

[2020-09-23 08:01] indianknight commented on #26
@jkolobok Could you please help me to figure out how to compile this lib with jdk8, I am thinking of going a toolchain way but so far no luck. all other services in my project uses jdk8 only one service has dependency to this lib and that don't compile.
On IDE I do some trick to work with it, any help would be apreciated.
I tried using jdk14 (as I do in IDE where it works) but maven compile fails.

[2020-09-23 11:43] jkolobok commented on #26
@indianknight https://github.com/redouane59/twittered/pull/77

[2020-09-23 12:26] jkolobok commented on #26
Why it is not? The version is LTS. What are the benefits of upgrading?

Ask yourself how much money it will cost and how much business value it will give? My answer is 'a lot' and 'zero'.

There is a lot of potential issues. I've done a lot of upgrades and seen a lot of problems with modularization for example.
Anyway in most of the cases you have to solve problems spending time and money on them

[2020-09-24 19:17] jkolobok opened #78 "Choose a codestyle for the project and update code accordingly"

[2020-09-24 19:26] jkolobok opened #79 "Release build of library contains unnecessary runtime dependencies"
sonar-maven-plugin
jacoco-maven-plugin
com.google.api-client
logback-classic

2 http clients instead of 1 or even 0:
apache http client and okhttp

[2020-09-24 21:47] redouane59 commented on #78
@hypr2771 i'm using the Google one that you pushed me. What do you advice me to add on the repo to make it clear for all ?

[2020-09-24 21:56] redouane59 commented on #79
Hi,
Thanks for your feedback.
If i'm not wrong:
- com.google.api-client is used [here](https://github.com/redouane59/twittered/blob/develop/src/main/java/com/github/redouane59/twitter/signature/Oauth1SigningInterceptor.java#L44)
- logback is used all over the project through annotations `@Slf4j` and set up [here](https://github.com/redouane59/twittered/blob/develop/logback.xml)
- And sonar & jacoc

[2020-09-24 22:10] jkolobok commented on #79
The general idea is that you want to minimize dependencies as much as possible. To avoid jar hell and other problems.

Google api
yes, there are usages, but use are using only a couple of utility function bringing in the whole library  with all it's transitive dependencies. this is 100% wrong approach.
Should either:
1) Find the same functionality in another library(okhttp, apache httpclient or it

[2020-09-25 18:01] redouane59 commented on #79
Good points, thanks for feedback we'll watch it !

[2020-09-27 05:25] hypr2771 commented on #78
You should just make it shared within the code base. There is a checkbox you can tick right side code style name to make it shared.
Do check your `.gitignore` to ensure you are not ignoring it.

I am on my phone ATM, can't give you more details. If you still don't find how to, I'll give more details later today.

[2020-09-29 11:33] hypr2771 commented on #79
I think `logback-classic` pulls up SLF4J, and is required as an SLF4J implementation.
SLF4J is simply used to register logger API implementation, isn't it?
Hence, you'd need `logback-classic` when using `@Slf4j`, right?

[2020-09-29 14:40] jkolobok commented on #79
logback-classic is not required neither during compile time (only slf4j is required), nor runtime (another implementation of slf4j can be used instead)

[2020-09-29 19:06] vishva007 opened #81 "Option to get additional fields in Sampled Stream api"
Is it possible to add a feature to send different get parameters to the request as the samples stream provides these features ?

I see that in the class [URLHelper.java](https://github.com/redouane59/twittered/blob/develop/src/main/java/com/github/redouane59/twitter/helpers/URLHelper.java) , getFilteredStreamUrl() already has these fields appended.

I am using a local build currently for these fie

[2020-09-30 07:23] hypr2771 commented on #79
But you'll need one of them at runtime, right?
You mean that the application integrating the library will provide its own implementation?
What happens if they do not use an SLF4J implementation?

I think it's fine to provide a default SLF4J implementation (logback or log4j or even JUL) and eventually tell the integrator that they can `exclude` it in their POM to use their own implementation.
Don't

[2020-09-30 18:30] redouane59 commented on #81
Hi @vishva007 , yes it's ok you can submit a pull request with this evolution. I'm really busy because I'm currently moving to another country so my developments are temporary stopped but if you have time to develop it we will be happy to check it :)

[2020-09-30 19:08] redouane59 commented on #81
Finally i think it's almost nothing. Can you check https://github.com/redouane59/twittered/pull/82 and tell me if it looks ok for you ?

[2020-09-30 20:05] vishva007 commented on #81
The pr is good. These are same changes what I did locally.

For a long term point of view, maybe adding a feature to set custom enum fields for the request would optimize some load.
I will work on this over the weekend and try to submit a pr.

Thank you

[2020-09-30 20:08] #81 closed

[2020-09-30 20:49] redouane59 commented on #81
Yes with pleasure, that's something I had in my mind but I never had the time to implement it so you're welcome !

[2020-10-28 22:27] mattes3 opened #84 "Missing LICENSE"
Hi folks,
this is real good software. Is it open source? If so, could you please add an open source license so that I know how I may use this library?

Best...
Matthias

[2020-10-29 09:00] redouane59 commented on #84
Hi Matthias,
Yes it's open source :)
I'm currently out of home for several days but if you want to submit a PR with a licence file don't hesitate. Otherwise i'll check this topic next month.

[2020-11-06 18:04] redouane59 commented on #84
Solved by https://github.com/redouane59/twittered/pull/85

[2020-11-06 18:04] #84 closed

[2020-11-06 18:05] redouane59 commented on #78
Solved by https://github.com/redouane59/twittered/pull/80

[2020-11-06 18:05] #78 closed

[2020-12-02 22:41] michelazzo opened #87 "User attributes: name x screen_name x username"
In the version [1.0 of the user's object model](https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/overview/user-object), I see those fields related with the user's name:
- name (ex. "name": "Twitter API")
- screen_name (ex. "screen_name": "twitterapi")

Then in the version [2.0 of the user's object model](https://developer.twitter.com/en/docs/twitter-api/data-dictionary/object-m

[2020-12-03 19:13] redouane59 commented on #87
Hi @michelazzo , good point. I will try to watch it this week-end.

[2020-12-03 20:17] redouane59 commented on #87
Hi again, it's ok, already fixed ! Will be available soon in the new version 1.13 currently releasing.

[2020-12-03 20:17] #87 closed

[2020-12-04 20:06] michelazzo commented on #87
Wow, that was fast! Thanks @redouane59 :)

[2020-12-04 20:18] redouane59 commented on #87
You're welcome ! :)

[2020-12-18 02:51] elle-trudgett opened #95 "Ability to block users"
Is the ability to block a user part of the current functionality?

[2020-12-18 12:59] redouane59 commented on #95
Hi,

Currently this function is not implemented. Moreover, it only exists in Twitter API v1.1 : https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/mute-block-report-users/api-reference/post-blocks-create

As soon as it will be available in Twitter API V2, I'll implement it. Or if you just want to submit a pull request, feel free :)

[2020-12-18 17:53] redouane59 opened #98 "Implementation of v2 follow lookup endpoints"
See https://developer.twitter.com/en/docs/twitter-api/users/follows/migrate

[2020-12-18 18:11] redouane59 opened #99 "Implementation of user Tweet timeline endpoints V2"
See https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-tweets

[2020-12-18 18:13] redouane59 opened #100 "Implementation of reply_settings field in Tweet v2"
See https://twittercommunity.com/t/conversation-reply-settings-tweet-field/147169

[2020-12-18 23:03] elle-trudgett commented on #95
Got it. Thanks!

[2020-12-18 23:03] #95 closed

[2020-12-19 13:10] #79 closed

[2020-12-19 13:22] #98 closed

[2020-12-19 19:44] redouane59 opened #103 "Implementation of user mention timeline endpoints V2"
See https://developer.twitter.com/en/docs/twitter-api/tweets/timelines/api-reference/get-users-id-mentions

[2020-12-19 20:13] #99 closed

[2020-12-20 14:48] #103 closed

[2020-12-20 15:01] redouane59 opened #105 "User timeline & mentions gives a 503 error with date params"
When calling these V2 endpoints with date parameters, the API answers with a 503 error Service Unavailable.

[2020-12-20 15:44] #100 closed

[2020-12-23 19:41] PhantomYdn commented on #26
I'm also looking for support Java8. Please advise when mentioned PR #77  can be applied?

[2020-12-23 20:57] redouane59 commented on #26
Hi ! If @jkolobok agrees, you can just build a branch from the last release (v1.15) and downgrade it to jdk8. Then you will be able to use it without forcing the whole project to be downgraded.

[2020-12-23 21:05] jkolobok commented on #26
@PhantomYdn forget about this library. It's not any usable and the maintainers are too young to understand this. In theory you can grab the code from my branch and build your own library... but better just stick with api v1 until someone created something usable.

@redouane59 I don't care. This project is drawing dead.

[2020-12-23 21:38] PhantomYdn commented on #26
@jkolobok , I tend to agree with you, unfortunately. Read a couple of threads here and also can't understand why supporting a wider range of JDKs considered to be a weak position.

@redouane59 , I can't call it "downgrade":) Per PR there is no strong dependency on features from new JDKs: everything was here in JDK8 as well. Seems that this PR is really easy way to expand coverage of use cases for

[2020-12-24 11:26] mmornati commented on #26
In the end guys... Just reading what you are saying make me thinking that the reason many projects still using JDK8 is because of you. JDK8 is deprecated and not supported anymore. Serious projects still using the latest LTS or they will be not serious at all.... At least the dev on these such of projects are not serious.

I don't think we should answer with such comments ("mainteiner is too young

[2020-12-24 11:42] jkolobok commented on #26
`JDK8 is deprecated and not supported anymore.`
You are absolutely wrong.

 Reality: https://www.oracle.com/java/technologies/java-se-support-roadmap.html
Even oracle is going to support it until 2030. And jdk 8 support ends BEFORE jdk 11.

The latest jdk8 release has happened a month ago. Previous - 2 months ago.
https://adoptopenjdk.net/archive.html?variant=openjdk8&jvmVariant=hotspot

'deprecat

[2020-12-24 11:44] jkolobok commented on #26
Not even mentioning that jdk8 is far more popular than 12-15 all together https://dash.adoptopenjdk.net/trends

[2020-12-24 12:07] mmornati commented on #26
Yes you are right. But you should check what the Extend Support is for Oracle 😉

Fo not understand why you are all against update... Don't you like being updated?? 😂😂

But on the base message I'm agree with you. A Java library should be compatible with as much version as possible to be really useful. Or @redouane59 you can think to create different version built against different Java versions. Se

[2020-12-24 12:09] mmornati commented on #26
Actually the only version to consider for production (on new products) should be jdk11. If you start a new project on jdk8 that's for me far away from a good decision.

[2020-12-24 12:22] jkolobok commented on #26
Kind of true, but not true. If this is the only third party library you are going to use then jdk11 is fine. Otherwise you have to consider all other libraries/platforms you are going to use and their requirements.
The project I'm working on is not new. It is still using jdk8 and many other libraries it depends on work well only with jdk8. I don't want to upgrade them all and retest the whole proj

[2020-12-24 12:29] mmornati commented on #26
Yeah I'm agree. This is always a big problem of legacy project: what the effort we are ready to put in them and what is the side cost.
But unfortunately the number of libs not compatible will jdk8 will increase in the coming months and years... And sometime impossible to ask for backward compatibility. At a moment Jdk8 project will be impossible to maintain without this upgrade. What will be the e

[2020-12-24 12:50] jkolobok commented on #26
`And sometime impossible to ask for backward compatibility.`
This project is not the case.
I don't know where are those 'time' when it's impossible. The difference between jdk8 and 11 is pretty much cosmetic. There is zero things that can be done in 11 that you could not do with 8.
 For me it took less that an hour to make a PR increases number of supported applications from 1% or less to 90%+.
At

[2020-12-24 13:23] mmornati commented on #26
The code yes. The best enhancement on the jdk is the Garbage Collector. In the new version is working better.

[2020-12-24 19:40] PhantomYdn commented on #26
It's some kind of strange conversation... For me it's obvious: if there are 2 libraries - one is supporting all JDKs starting from JDK-8 and up to the most up-to-date and another one supporting only from JDK15 and up: then the first one is much more usable. Just because it might be used by a **wider range of projects**.  In other words: the first one is much more advanced because it's not limiting

[2020-12-25 18:40] mmornati commented on #26
I can understand @PhantomYdn what you are saying... But it is a decision of lib mainteners.
If you want to say "I just want to support since the latest LTS" it is your right. Then the users will decide if they really need the lib if they can upgrade their project JDK or not.
As I said JDK is not only a matter of code... That's the shitty and useless part. Each jdk upgrade is putting much more thin

[2020-12-25 18:50] mmornati commented on #26
@PhantomYdn the licenses is allowing forking and redistribute. So what about forking the lib and changing the part related to the JDK15, translating them to jdk8. I did not work to the code but it should easy. 😉

[2020-12-25 19:01] redouane59 commented on #26
Hi, thanks to you all for your messages. What can be done is maybe to create a new branch from the latest code version, downgrade the project to jdk8, and upload it to maven central repository with a different project name ? Like `com.github.redouane59.twittered-jdk8`. What do you think ?

[2020-12-25 19:15] PhantomYdn commented on #26
@redouane59 , please get me right. Thank you so much for your work. I know, how it's difficult to keep everybody happy:) But I'm struggling to understand you view here... It's possible to make your library compatible with all JDKs starting from 8 and 15 including. Single codebase, single build and multiple supported JDKs. Why it's so important to keep those few things which are making library not

[2020-12-25 19:21] redouane59 commented on #26
Just created https://github.com/redouane59/twittered/pull/108 (to avoid having to rebase everything and resolve all conflicts on #77 manually). I'm going to upload it to maven central repository tonight and you will give me feedback :)

[2020-12-25 19:23] jkolobok commented on #26
Are you going to maintain both branches?
Waste of time.

[2020-12-25 19:26] redouane59 commented on #26
I'll try, otherwise whoever will want to help will be welcome :)

[2020-12-25 19:29] jkolobok commented on #26
We are trying to help.. lol.
In theory you can set target level to 8 and source to something between 11 and 15. You won't be able to use new api, but you'll be able to use some new language features. Not good, but better than two branches.

[2020-12-25 19:39] redouane59 commented on #26
I'll try it on the next few days, don't know if it will work well, @hypr2771 was thinking it won't.

[2020-12-25 19:50] mmornati commented on #26
I can take a look to the code @redouane59. What do you use of new JDKs? Records? Matches? I think it should be possible to change of all them (losing in readability in my opinion... But that's a fact in the end. Need to chose between largely usage and support VS new patterns).

[2020-12-25 19:57] redouane59 commented on #26
Nothing critical, but more things like `isEmpty()` , `List.of()` . The PR #108 is already done.

[2020-12-26 21:02] redouane59 commented on #105
Ticket open to twitter support forum : https://twittercommunity.com/t/impossible-to-use-date-in-v2-timeline-endpoints/147517

[2021-01-03 18:15] redouane59 commented on #26
@PhantomYdn did you try the jdk8 version ? Is it working fine for you ?

[2021-01-03 19:54] PhantomYdn commented on #26
@redouane59 , not yet. We are working on open source scheduled posting solution: https://github.com/OrienteerBAP/OPoster and considering your library for communicating with twitter.

[2021-01-03 21:25] redouane59 commented on #26
Ok waiting for your feedback about this version, if it is concluant we'll consider merging it to the master :)

[2021-01-03 22:56] zdenda-online commented on #26
From my point of view, JDK15+ is just too aggressive. I would go at least JDK11 (JDK8 good as well). It is not only because of projects are forced but also some runtimes are not yet able to work with this high JDK. For example, I would love to create a simple serverless Java function (e.g. [AWS Lambda](https://docs.aws.amazon.com/lambda/latest/dg/lambda-java.html)) that uses this client. Unfortuna

[2021-01-04 19:38] redouane59 commented on #26
Understood,  as far as users will validate the jdk8 released version, we will consider merging it to master :)

[2021-01-09 16:57] AbdulKalam21 opened #110 "where can i find the docs for this library?"

[2021-01-09 17:32] redouane59 commented on #110
Hi @AbdulKalam21 , there is a javadoc for the main methods of the project. If you need example, you can have a look to the integration tests (as mentioned on the readme file).
Don't hesitate if you have any specific question.

[2021-01-10 13:38] AbdulKalam21 commented on #110
Sir where can i  find the javadocs??

[2021-01-10 13:57] redouane59 commented on #110
It's in the code ! For example : https://github.com/redouane59/twittered/blob/develop/src/main/java/com/github/redouane59/twitter/ITwitterClientV2.java

[2021-01-10 15:24] AbdulKalam21 commented on #110
Okay thanks :)  +1:
btw which version do you prefer v2 or v1?

[2021-01-10 16:30] redouane59 commented on #110
The two versions are complementary. What is now available in v2 is not available in v1 and what is present in v1 is not yet implemented on v2

[2021-01-10 17:06] AbdulKalam21 commented on #110
Which one to use???

[2021-01-10 17:21] redouane59 commented on #110
Both !

[2021-01-10 17:25] AbdulKalam21 commented on #110
how do i know which one i should use?

[2021-01-10 17:26] redouane59 commented on #110
Just use the `TwitterClient` whatever the implementation is

[2021-01-11 02:59] AbdulKalam21 commented on #110
Okay thank you for your time, really appreciate it. You can close the issue now

P.S: Create a discord server

[2021-01-11 03:03] AbdulKalam21 commented on #110
wait does the library only works on JDK15?
Can it work on JDK11?

[2021-01-11 20:57] brianstrauch opened #111 "Adding and Deleting Stream Rules"
It would be awesome to include functionality for adding and deleting stream rules.

Endpoint: `POST /2/tweets/search/stream/rules`
https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/post-tweets-search-stream-rules

[2021-01-12 09:15] redouane59 commented on #110
As explained on the readme, you can use
[code]
in order to use a version before jdk15

[2021-01-12 09:16] redouane59 commented on #111
Hi,
are you talking about :

https://github.com/redouane59/twittered/blob/master/src/main/java/com/github/redouane59/twitter/ITwitterClientV2.java#L152

and

https://github.com/redouane59/twittered/blob/master/src/main/java/com/github/redouane59/twitter/ITwitterClientV2.java#L160

?

[2021-01-12 09:25] redouane59 commented on #26
Hey guys,
Just realized that Android decided last month to provide support for Java 11 :)
https://android-developers.googleblog.com/2020/12/announcing-android-gradle-plugin.html

Nice blog article talking about it : https://www.mobileit.cz/Blog/Pages/android-java-release-train.aspx

[2021-01-12 10:11] AbdulKalam21 commented on #110
Okay Thanks!

[2021-01-12 10:11] #110 closed

[2021-01-12 17:35] brianstrauch commented on #111
Yes! I didn't see that earlier, thanks.

[2021-01-12 17:35] #111 closed

[2021-01-17 11:44] redouane59 opened #118 "Search 7 days broken"
`  public static final  String ` to be modified

[code]

[2021-01-17 12:04] #118 closed

[2021-01-19 00:45] PhantomYdn opened #120 "Support of images and other media types"
Hello,

It seems that the client currently supports only text tweets. Do you plan to add support of images and other media types?

[2021-01-19 04:05] PhantomYdn commented on #26
@redouane59 , just added support of scheduled posting to Twitter through your library in the commit: https://github.com/OrienteerBAP/OPoster/commit/8d7c0bb15b2ba299b815ec6c2b7eec1c6ab03978

But will really appreciate if support of images will be added to the library. Created separate issue for that #120

P.S. For now OPoster use separate `jdk8` branch, but it will be really cool if your library wi

[2021-01-19 20:01] redouane59 commented on #120
Hi,
Just implement it last week : https://github.com/redouane59/twittered/pull/112
I'll release a jdk8 version this week :)
Didn't you plan to at least update your java version to jdk11 ? I recently heard that it will finally be supporter by Android !

[2021-01-19 20:19] redouane59 commented on #120
Please use
[code]

[2021-01-19 20:26] redouane59 commented on #26
Hi @PhantomYdn ,
Like I said on your issue, the endpoint was implemented last week :)
Don't you want to submit a PR for Scheduled posting ?
About version, it looks like even Android has finally decide to move to jdk11, will it be the case of your project too ?

[2021-01-19 22:21] PhantomYdn commented on #26
@redouane59 , I'm really sorry, but I don't understand where is the problem with JDK8 support:) Look, if you have 2 keys: one can open only one small door and another key can open 8 doors. Which key is better? Imho, libraries should keep the lowest JDK possible unless:

1) It's absolutely clear what features from newer JDK is needed for the core functionality,
2) Most of clients has already moved

[2021-01-20 02:52] PhantomYdn commented on #120
Thank you! Do you accept some critics? Seems that you use OkHttpClient just once per request and then forget about it.  There is the recommendation to use one OkHttpClient per running application. You can find it in the [official documentation](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-ok-http-client/) and also recommend [this article](https://medium.com/@leandromazzuquini/if-you-are-usi

[2021-01-20 10:55] redouane59 commented on #120
Yes of course, I'm not a senior developer so I accept all feedback :)
I will check it and try to create a singleton for OkHttpClient thanks. For the signing part, I just implemented something new last week called `se.akerfeldt.okhttp.signpost` . Implementation is here : https://github.com/redouane59/twittered/blob/cb0601a3117c1189724c5041b3c1af3b48a52460/src/main/java/com/github/redouane59/twitter

[2021-01-20 12:31] mmornati commented on #26
Quite agree with what @PhantomYdn is saying. In the end, global libraries should be built to be used on a big number of projects. So it is better to build the lib with a lower JDK. This will allow someone with JDK11, 12,15 or 17 to use it. The opposite is not possible.

Is there any other things you really need forcing you to use a JDK againt one other?

[2021-01-20 12:52] redouane59 opened #122 "OkHttpClient singleton"
Instantiate only once the OkHttp client in `RequestHelper` class. See https://github.com/redouane59/twittered/issues/120

[2021-01-20 12:56] redouane59 commented on #26
Nothing critical just a little bit of refactoring already done in PR https://github.com/redouane59/twittered/pull/121
I heard your arguments, I will merge the PR this week.

[2021-01-20 17:36] PhantomYdn commented on #120
You can use ScribeJava for:

1) Allowing to use multiple types of Http Clients - what ever is suitable for clients. Please check how that's done in ScribeJava
2) As a side effect of p1: all management of Http Clients (singleton vs multi) is done one level down
3) Builtin signing of messages - so no need for extra libraries and etc

P.S. OPoster assume posting to multiple accounts (including twitte

[2021-01-20 18:52] redouane59 commented on #120
Ok that's a great thing. I'll try to take a look on it on the next few weeks, but if you have the opportunity to make a pull request, don't hesitate !

[2021-01-21 20:25] #122 closed

[2021-01-24 20:59] redouane59 commented on #26
Solved in https://github.com/redouane59/twittered/pull/123

[2021-01-24 20:59] #26 closed

[2021-01-29 23:37] PhantomYdn commented on #120
@redouane59, please check my PR #126 which is about switching to ScribeJava

[2021-01-30 15:44] redouane59 commented on #120
Hi, thank you very much for your PR, I'll try to watch it next week and keep you informed :)

[2021-02-01 11:31] ChallengerCC opened #127 "getOAuth1AccessToken NOT working !"
Missing parameter assign(put) in getOAuth1AccessToken(requestToken, verifier):

**parameters.put("oauth_token", requestToken.oauthToken);**

[2021-02-02 19:31] redouane59 commented on #127
Hi @ChallengerCC , you're right ! We will fix it in the next release :)

[2021-02-04 09:18] ChallengerCC commented on #127
Would be also super cool if your library would have a manifest that clarifies what minimum requirements are necessary.
Especially for android development! As your library dont support Android API21 (24 is necessary) because of java 8+.

[2021-02-04 18:48] redouane59 commented on #127
If you have an example of it don't hesitate to create a PR. I recently downgrade the project from JDK15 to JDK8 to support Android projects, but are really people still usin JDK7 in 2021 ?

[2021-02-06 10:32] redouane59 commented on #105
Now working fine :)

[2021-02-06 10:32] #105 closed

[2021-02-09 16:33] Greg-M73 opened #129 "Streaming API and tweet Consumer."
There is a case when the Consumer is triggered on data that is not a JSON tweet but more like a notification for a limitation.

The problem occurs in RequestHelperV2.onResponse(Call call, final Response response), when trying to map the json to a TwitterV2.class, both data & includes properties will be null.

Here is the json received:
[code]
When this happens, the stream is disconnected.
You can

[2021-02-09 19:33] redouane59 commented on #129
Hi @Greg-M73  , well seen !
This week we will probably merge this huge PR https://github.com/redouane59/twittered/pull/126 and just after it would be awesome if you could submit your :)

Thank you very much !

[2021-02-09 21:02] redouane59 opened #130 "Retweeted Tweet text sometime truncated"
See https://github.com/redouane59/twittered/discussions/128#discussioncomment-354408

Ex: `getFavorites()` from ITwitterClientV1
The param `tweet_mode` only applies to V1 and can be applied to any endpoint, e.g.
https://api.twitter.com/1.1/favorites/list.json?count=200&screen_name=gabac&tweet_mode=extended
which makes sure that tweets are no longer truncated.

[2021-02-10 09:40] Greg-M73 commented on #129
Hi @redouane59 ,

I will try to do so :).
Thank you for your work

[2021-02-10 17:57] redouane59 opened #131 "Follow/Unfollow endpoints V2"
See [Twitter API reference](https://twittercommunity.com/t/introducing-the-new-manage-follows-endpoints-to-the-twitter-api-v2/149465)

[2021-02-10 18:12] #127 closed

[2021-02-10 18:48] #130 closed

[2021-02-10 18:52] redouane59 commented on #120
Hey, I close this issue because the main topic is solved. For some parts which are not already implemented, could you create a new one please ? Thanks !

[2021-02-10 18:52] #120 closed

[2021-02-11 19:50] joergrech opened #135 "twitterClient.uploadMedia not working?"
Hi, I can't upload media to Twitter using twitterClient.uploadMedia() - is there something special to consider?

After building the twitterClient with the TwitterCredentials builder() and adding the 4 secrets/keys I execute the following code:

[code]

The resulting mediaResponse exists but has no mediaId (null) and size of 0.

Btw. reading users and tweets works.

[2021-02-11 20:22] redouane59 commented on #135
Hi @joergrech , just ran the unit test `testUploadMedia` and everything is fine on my side.
[code]
![image](https://user-images.githubusercontent.com/4500524/107693899-02623800-6caf-11eb-8064-948a8a1c31a8.png)

Did you try to do the same call from postman ? Maybe you can set a break point into `uploadMedia` method in `RequestHelper` class to see the twitter API answer ?

[2021-02-11 20:59] joergrech commented on #135
I just used the debugger to track the execution flow and found that I get  a 401 when calling "https://upload.twitter.com/1.1/media/upload.json?media_category=tweet_image" - interestingly the LOGGER.error in logApiError() message does not appear in the IntelliJ console.

And the message says: "Read-only application cannot POST."

Sorry for the confusion - I see if I can change that in the Twitter

[2021-02-11 21:00] redouane59 commented on #135
Ok so that's just a matter of rights, nothing to see with the lib :)
See https://developer.twitter.com/en/docs/apps/app-permissions

[2021-02-12 08:22] #135 closed

[2021-02-13 09:06] redouane59 opened #137 "Following / Followers endpoints"
See [Twitter API reference](https://twittercommunity.com/t/introducing-the-new-manage-follows-endpoints-to-the-twitter-api-v2/149465)

[2021-02-13 09:24] redouane59 opened #138 "How to launch integration tests which need twitter credentials when deploying ?"
Currently when deploying only the unit tests are performed but there are no integration tests. Tests in classes like [ITwitterClientV2Test](https://github.com/redouane59/twittered/blob/develop/src/test/java/com/github/redouane59/twitter/nrt/ITwitterClientV2Test.java ) are all disabled because it requieres twitter account credentials to be working fine...

How can we manage this ? Does TravisCI can

[2021-02-13 10:18] RakSrinaNa commented on #138
You can encrypt en env variable and use it in the tests.

https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml

[2021-02-13 10:24] redouane59 commented on #138
But should we always use the same twitter account whatever the build or should each developer run the integration tests with his own credentials ?

[2021-02-13 10:39] RakSrinaNa commented on #138
The credentials would be bound to this travis repo. So if anyone else run the tests on travis of their own, it'd fail I think.
Though it's probably better that way. So you have control of what the credentials are used for.

Now a thing to take into consideration, is that currently the travis tests are ran automatically on a PR. This means that I could write a test that for example post illicit con

[2021-02-13 10:55] redouane59 commented on #138
Yes in term of security, it's absolutely not safe if credentials are shared...
But don't you think that a way exists to store somewhere the developer credentials in order to run automatically integration tests with his own account and be 100% sure that his PR is OK ?
The target is to decrease a lot possible regressions with external contributions, without any manual step.

[2021-02-13 11:10] RakSrinaNa commented on #138
When people will fork the project and have a Travis, it'll be run on there
with their account. They just have to enter their credentials in the env
page.

When a PR is made, it'll be forced and will use your credentials.

On Sat 13 Feb 2021 at 11:56, Redouane Bali <notifications@github.com> wrote:

[2021-02-13 11:13] redouane59 commented on #138
I don't really like the idea to have to force that. It's a pity that nothing automatic can be implemented :/

[2021-02-13 12:57] #131 closed

[2021-02-13 13:07] #137 closed

[2021-02-13 21:19] Greg-M73 commented on #129
Here is a draft #139

[2021-02-16 15:56] AmjedAllaya opened #143 "Getter and Setters problem in TwitterClient.java"
I have cloned twittered project and when I try to use it I get errors from TwitterClient.java, and when I opened it up it found out that a lot of getter and setters are missing

[2021-02-16 18:08] redouane59 commented on #143
Hi @AmjedAllaya , It's because the project is using [lombok](https://projectlombok.org/), make sure that the [annotation processors](https://www.jetbrains.com/help/idea/annotation-processors-support.html) are on :)

[2021-02-19 13:49] redouane59 commented on #143
Without any new from your part I consider that your problem is solved...

[2021-02-19 13:49] #143 closed

[2021-02-19 19:50] AmjedAllaya opened #145 "full tweets object"
hi,
Im trying to get a all the tweets data(media, id ...) with the all the user data (name , profile picture..)
so I wrote this code :
twitterClient.getUserFromUserName(username)
and it returns:
com.github.redouane59.twitter.dto.user.UserV2@62cfe06c

[2021-02-19 20:46] redouane59 commented on #145
What is you question exactly ?
If you use `getUserFromUserName(String username)`, it will give you the User Object representing the user as the method name indicates.
If you want to get a tweet information, you should instead use `getTweet(String tweetId)`

[2021-02-20 19:40] Greg-M73 commented on #129
Work done, thx @redouane59  :)

[2021-02-20 19:40] #129 closed

[2021-02-22 20:26] redouane59 commented on #145
@AmjedAllaya does it answer to your question ?

[2021-02-24 04:08] JABERMQM opened #148 "GM"

[2021-02-24 18:25] AmjedAllaya commented on #145
exactly , When I use one of these i get the following response:
com.github.redouane59.twitter.dto.user.UserV2@62cfe06c

[2021-02-24 19:36] redouane59 commented on #148
???

[2021-02-24 19:37] #145 closed

[2021-02-24 21:00] #148 closed

[2021-02-26 09:55] rahelarnold98 opened #149 "Possibility to get further information of a tweet"
Hi, would it be possible to extend the Tweet class to be able to get the following information:

- The geographic location of a tweet
- The name of the author of a tweet
- The hashtags of a tweet
- The mentioned URLs in a tweet
- The media of a tweet (picture, video, GIF)

[2021-02-26 21:00] redouane59 commented on #149
Hi @rahelarnold98 ,

I think that currently this is not possible, you have to use `tweet.getUser().getLocation()` to have the user location.
For the tweet location, I will try to implement it this week-end.

Use `tweet.getUser().getName()`

Use `tweetV2.getData().getEntities().get("hashtags")`

Use `tweetV2.getData().getEntities().get("urls")`

I think this is not possible, a development will prob

[2021-02-27 10:35] redouane59 commented on #149
Missing tweet fields will be accessible from the next release :
`tweetv2.getAttachments().getMediaKeys()` to get medias ids.
`tweetv2.getGeo()` to get geo-localisation information.

[2021-02-27 10:35] #149 closed

[2021-03-01 11:03] rahelarnold98 commented on #149
Hi @redouane59
Thanks a lot for the fast support.

[2021-03-01 19:01] redouane59 commented on #149
Can you tell me how did you get the user ? I think that this is available from `TweetV2` but not `TweetV1`

[2021-03-06 23:51] kopax opened #154 "How to set `media_ids` (and not `media_id`) which doesn't exist in twitter API"
Hi all, I was working on a retrofit client for twitter and found your repository listed on twitter website.

It seems this is still under active development, do you know if it's ready for production use? We use spring boot 1.5.9

**Edit**

After a first trial, it's easy to get going with posting a tweet. However, the current `TwitterClient.java` is not yet implementing many methods, for example, i

[2021-03-07 09:11] redouane59 commented on #154
Hi @kopax , as the twitter V2 endpoints are not all released by Twitter teams, this project will still be in progress during few months/years. However, you can start to use it now, latest versions are stable.

For the `media_ids`, I'm going to check this week if this is something we can implement easily. I'll keep you informed :)
If you check the last issues, a lot of new things were implemented f

[2021-03-07 13:04] redouane59 commented on #154
Hi again @kopax , just checked it and you can do it easily :
Use `twitterClient.postTweet()` method  and add all the media ids you want separated by `,`
Example :
`twitterClient.postTweet("Test", null, "12345,67890");
`

[2021-03-07 14:51] kopax-polyconseil commented on #154
Hi and thanks for the feedback. I already extended and implemented the method in my app and joining multiple images doesn't seems to attach then all to the tweet (only the first one) so I believe something is missing. Perhaps not with your lib. Thanks for sharing this client !

[2021-03-07 15:24] redouane59 commented on #154
Yes I just made the test with 2 media ids and it worked fine. After debugging if you see some unexpected behaviours just let me know.

[2021-03-09 18:36] redouane59 opened #157 "getUserTimeline() doesn't show private tweets"
See : https://github.com/redouane59/twittered/discussions/156
Regression, it was working at least until `v1.12`

Error is :

[code]

[2021-03-09 20:17] redouane59 commented on #157
@PhantomYdn do you have any idea ?  Can it be related to JavaScribe or a missing thing on authentication ?
`User timelines belonging to protected users may only be requested when the authenticated user either "owns" the timeline or is an approved follower of the owner.`  [source](https://developer.twitter.com/en/docs/twitter-api/v1/tweets/timelines/api-reference/get-statuses-user_timeline)

[2021-03-11 18:12] #157 closed

[2021-03-11 18:37] redouane59 commented on #154
Can I close this issue ?

[2021-03-11 18:38] kopax commented on #154
Yes.

Sorry I got completely overwhel with a DC fire incident. Thanks again it now work well.

[2021-03-11 18:38] #154 closed

[2021-04-09 18:17] Internalizable opened #161 "Filtered Stream doesn't return any tweet."
Hey there,

I'm trying to use the filtered stream in v2 yet it isn't returning any tweet.

[code]

It should at least return a tweet from [my twitter account](https://twitter.com/CharSequence) yet it doesn't return anything, yet the rules are set. Any idea as to why?

[2021-04-09 18:43] redouane59 commented on #161
Hi @Internalizable,
If it can help you, here is my code using filtered stream :

[code]

It is working well on my side :)

[2021-04-09 19:22] Internalizable commented on #161
Tried out the code above, doesn't seem to work on my side. Here's the full code with the printout, could it be possibly an issue with the twitter account or the developer application?

[code]

[2021-04-09 20:11] redouane59 commented on #161
Hmmm yes maybe, don't you have any error log ?
You can also post a message on the twitter developer forum [here](https://twittercommunity.com/t/rate-limit-on-tweets-stream-api/144389/19).

[2021-04-11 10:28] redouane59 commented on #95
Hi @elle-trudgett , the feature is now available in v1.22 :)
See https://github.com/redouane59/twittered/pull/162

[2021-04-11 12:08] kopax opened #163 "How to retrieve the avatar image url using the twitter client?"
I want to display a tweet I have just posted, How to retrieve the avatar image url using the twitter client?

It seems it is possible in v1.1 but not implemented: https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/follow-search-get-users/api-reference/get-users-show

[2021-04-11 12:21] redouane59 commented on #163
Hi @kopax ,

The V2 endpoint actually allow you to get this information too.
Example :
[code]

[2021-04-11 13:35] Internalizable commented on #161
Fixed it, turns out the account was private.

[2021-04-11 13:35] #161 closed

[2021-04-11 13:39] Internalizable opened #164 "Request: Add mute/unmute endpoints"
Would be great if mute/unmute endpoints get implemented in the next upcoming version.

[2021-04-11 13:41] redouane59 commented on #164
Hi @Internalizable ,
It looks like currently Twitter API V2 doesn't support this endpoint. As soon as it will be released, we'll implement it.
Otherwise feel free to submit a pull request with [V1 enpoint](https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/mute-block-report-users/api-reference/post-mutes-users-create) if you need it before :)

[2021-04-11 13:57] kopax commented on #163
`twitterClient.getUserFromUserName()` does return :

[code]

[2021-04-11 14:28] redouane59 commented on #163
The problem is related with your twitter account, not with the library. Just check the log error message :)

[2021-04-11 14:30] kopax commented on #163
I've checked it and it seems this application can't enroll for the API program. I only have one token for it and it's from a different app.. It's not possible to use the API v2, can't we use the endpoint for v1 with some hacked code?

[2021-04-11 14:34] redouane59 commented on #163
The enrollment should be free, I don't know why you cannot do it. You can always post a message in the twitter dev forum to have their help.
To have the twitter avatar URL, as explained before, you can just use :
[code]
But this will work when you will have a twitter dev project within your account. See : https://developer.twitter.com/en/docs/projects/faq

[2021-04-11 14:40] kopax commented on #163
Vv1 is deprecated but it is at least available to every app. Is downgrading for me possible at this point?

[2021-04-11 14:50] redouane59 commented on #163
Why can't you just create another project to link your 2nd app ?

For the V1 endpoint, you can check the [releases](https://github.com/redouane59/twittered/releases) but I'm absolutely not sure that avatar url was available in V1. The library evolved a lot so that's not a good idea to downgrade it.

The other solution would be to override this endpoint on your side and implement it in your project

[2021-04-11 15:37] kopax commented on #163
You can have only one project that support API v2, the rest will support API v1.

I could create another TwitterAccount but then it's not convenient to use another account API key than the one we are posting for, it will require two twitter clients.

[2021-04-11 15:41] redouane59 commented on #163
Hmm ok I didn't know. And why not using the same app and project ?

[2021-04-11 15:46] kopax commented on #163
It's two different app and it's forbidden by twitter rules:

[2021-04-12 05:02] Suchitainf opened #165 "Request to add Send Direct Message end point"
Is there any plan to add direct message related end points?

Sending message events
To send a new Direct Message use POST direct_messages/events/new (message_create). Optionally, you may also attach Quick Replies or media (image, GIF or video).

[2021-04-12 19:48] redouane59 commented on #165
Hi @Suchitainf ,
As this endpoint is currently not available in V2, it is not planned to develop it in V1 now and migrate few weeks later. We will implement it once the V2 is available. But if you need it before, feel free to develop this endpoint and submit a Pull Resquest :) ! We will review and merge it without any problem.

[2021-04-13 17:17] JessicaGarson commented on #163
At this time, you can only create App per Project. You can only have one Project per product track. If you had academic access, you could have one Project for academic access and one for standard access. We are considering making changes here for the future.

Only Apps connected to Projects can connect to v2. These Apps can also connect to v1.1 too. Standalone Apps can connect to v1.1 only. If you

[2021-04-13 18:13] kopax-polyconseil commented on #163
Hi @JessicaGarson and thanks for clarifying the différence between app and project.

![image](https://user-images.githubusercontent.com/77674046/114600364-8b3c2680-9c94-11eb-9e04-60f15374d6cb.png)

I think they are already attached, how do you generate a V2 token for the standalone application ?

I have created an issue on twitter community forum https://twittercommunity.com/t/how-to-attach-an-app

[2021-04-13 18:42] Wolfehh opened #166 "Crashing in Activity's on Android Studio"
- Works using Unit Tests and Instrumented Tests
- Crashes when doing anything other than .setCreditials, .getCredientals, and initialization.
- When trying to get BearerToken (same error for many other get functions):
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.teamo.myapplication, PID: 20367
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.teamo.myapplicati

[2021-04-13 19:01] redouane59 commented on #166
Hi @Wolfehh , could you please put some breakpoints and check if your credentials are there ?

[2021-04-13 19:20] Wolfehh commented on #166
We checked and saw that the credentials were there, but we also saw that the BearerToken is null, everything under service on the helpers seem to be null, but they do all have the same twitter credentials.

[2021-04-13 19:23] redouane59 commented on #166
Are you sure that your twitter developer account allow you to call this endpoint ? Don't you have any other error log before the stracktrace you sent ? Can you maybe just call the `getBearerToken` method and check what happens ?

[2021-04-13 19:31] Wolfehh commented on #166
We have Standard v1.1 and v2 access. There are no other errors prior to the getBearerToken stacktrace. We checked to be sure twitterclient wasn't null and we can get its credentials. All of the methods work when running them through the unit tests, but not when we try to use it in the activity. We used the same exact code, from the provided unit tests, in both our tests and the activity.

[2021-04-13 19:57] redouane59 commented on #166
It's really strange. As all other projects are working well I guess something is wrong on your side.
Can you just debug step by step and stop in the deepder `makeRequest` method, checking the `stringResponse` obtained by the call you made ?

[2021-04-13 21:17] JessicaGarson commented on #163
So `My Back-Office` would only have access to v1 but `My Public Website` could access both v1 and v2. You can get the keys and tokens you need inside the Keys and Tokens section of `My Public Website`. I think this tutorial may be helpful for you [here](https://dev.to/twitterdev/step-by-step-guide-to-making-your-first-request-to-the-new-twitter-api-v2-42mi).

I saw you already engaging with someon

[2021-04-13 21:25] kopax-polyconseil commented on #163
Just to make sure, are you suggesting to use the tokens from `My Public Website` for `My Back-Office` ? This is strictly forbidden by Twitter rules.

[2021-04-13 21:36] Wolfehh commented on #166
We don't get a response, it just calls an exception.

[2021-04-13 22:18] SuperMawxy commented on #166
Hello.  Within this method there is

Response response       = getService().execute(request);

This throws an exception caught and printed by LOGGER.  There does not seem to be a way for me to access the LOGGER stack trace from android studio.  Obviously our Optional<BearerToken> result is then null which leads to a null bearerToken.

[2021-04-14 16:29] redouane59 commented on #166
Hi,

It's really hard for me to debug without having the deeper stack trace. Don't you have a firewall or something who could block the call ? Can you try to launch integration tests like `ITwitterClientV1Test.java` and `ITwitterClientV2Test.java` to see if these two work ?

[2021-04-14 19:21] Wolfehh commented on #166
Ran the V2 Test in its entirely. Failed 10 passed 22. The main functions weve been testing: search7days, getbearer, and gettweetbyid all passed in the test.
`15:16:06.542 [main] ERROR com.github.redouane59.twitter.helpers.AbstractRequestHelper - (GET) Error calling https://api.twitter.com/2/users/92073489/tweets?max_results=20&start_time=2021-04-09T15:16:06.000Z&end_time=2021-04-13T15:16:06.000Z&t

[2021-04-14 20:01] redouane59 commented on #166
Are you sure that your twitter developer account has the right accesses ? Can you identify which endpoints are working and which endpoints are not ? Maybe you have only a read-only access set up in your twitter project ?

[2021-04-14 20:11] redouane59 commented on #166
Here is what I have running the getBearerToken test :
![Uploading image.png…]()

[2021-04-14 20:59] Wolfehh commented on #166
I get those when I do the unit tests, but not when I run it in the activity.

[2021-04-15 09:32] redouane59 commented on #166
But can you confirm that you have values on your twitter credentials object ?

[2021-04-15 17:46] redouane59 commented on #163
I'm closing the issue as you created someone in the [twitter forum](https://twittercommunity.com/t/how-to-attach-an-app-to-a-project/152637/2).

See you !

[2021-04-15 17:46] #163 closed

[2021-04-15 17:55] kopax commented on #163
@redouane59 answer on twitter forum was supporting the idea of restoring the v1 api....

[2021-04-15 18:59] redouane59 commented on #163
So you can just override the method and call the V1 endpoint instead of the V2 :)

[2021-04-15 21:47] Wolfehh commented on #166
Yes.
![image](https://user-images.githubusercontent.com/59780951/114942554-b3ea2a80-9e12-11eb-93fd-459bbbab491c.png)

[2021-04-16 10:47] redouane59 commented on #166
So strange... Can you make a test with postman to get the bearer token ? I'm pretty sure the problem is related with your twitter dev account.

[2021-04-16 19:00] Wolfehh commented on #166
The Twitter V2 Collection does not have a bearer token finder but I did test to get a tweet by id and search within 7 days and they both worked. Could you try making an android studio app with just a basic template they have and try implementing your code?

[2021-04-17 11:08] redouane59 commented on #166
Sorry I don't use Android Studio. On your side what you can do is start a java app (Using Intellij for example) and check if it is working or not.  Or from postman you can set up yourself the correct request to get the bearer token from twitter api.
Information is [here](https://developer.twitter.com/en/docs/authentication/oauth-2-0/bearer-tokens)

[2021-04-17 16:28] Wolfehh commented on #166
I need it to work in Android Studio not IntelliJ. I've already showed you multiple times it works in everything that is not an Android Studio Activity, so I can confirm that it would definitely work in IntelliJ. I do not have the wrong access nor are my credentials wrong. I think it might be beneficial to just add a comment somewhere that says this does not work in Android Studio.

[2021-04-17 17:50] redouane59 commented on #166
I'm not sure at all it doesn't work with Android Studio. It doesn't make sense that a library work with an IDE and not another one.
By the way few months ago we decided to downgrade the java version of the project to make android projects (using jdk8) compatible with the library. See : https://github.com/redouane59/twittered/issues/26

[2021-04-17 20:57] Wolfehh commented on #166
https://github.com/Wolfehh/TeamO/tree/twittered
The project is ending development in a few days but if it helps solve the issue I hope this is useful. I had read that thread to see if it helps but the error they had wasn't one we had. We can't even tell what the error is other than something in Android Studio isn't working once it hits a certain point in interacting with the endpoints, causing the

[2021-04-17 21:31] redouane59 opened #167 "getFollowersUrl method doesn't use max_results parameter"
See https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers

[2021-04-18 09:17] #167 closed

[2021-04-18 17:09] redouane59 commented on #166
Hi @Wolfehh ,

I just spent the afternoon downloading Android Studio (my connection here in Algeria is around 2mbps so it took loooooongtime). I just created a unit test like this in a new project :
[code]
and it is working well !

I also created a Main class where I do exactly the same and launching the app, I currently do have a bearer token value without any exception or error.

So I guess the

[2021-04-18 17:44] Wolfehh commented on #166
Could you send your build.gradle where you implemented all of the libraries? That's the only place I feel like things could go wrong.

[2021-04-18 19:25] redouane59 commented on #166
Nothing special
[code]

[2021-04-18 19:49] Wolfehh commented on #166
Did you change any settings? I just went default on everything.

[2021-04-18 20:43] redouane59 commented on #166
No nothing. Just try to create another project from scratch and you'll see :)

[2021-04-18 23:08] Wolfehh commented on #166
huh. I don't know why but it still keeps failing on me for some reason. I made a new project with an empty activity, but it still throws the error. (NoSuchElementException)

[2021-04-19 18:59] kopax-polyconseil commented on #163
I've just tested that and `UserV1` doest not have all the fields such as `profile_image_url_https` missing.

Can I just extend `UserV1` , add those fields and class cast to get the value? It looks to be righter to directly add those things here, I am just being curious why aren't we doing that?

[2021-04-20 10:22] irisliou33 opened #171 "Query for calling testSearchTweets30days method"
We had included the 4 credential keys needed to access the API, but we were confuse why we are unable to use it, since it looks like we included everything required.

When we were trying to use the testSearchTweets30days method, there was an error occurred. I am not sure what we are missing.

![image](https://user-images.githubusercontent.com/72017387/115380123-d316fc80-a204-11eb-8026-aff7105d377a

[2021-04-20 10:24] irisliou33 commented on #171
P.S We are using Android Studio since we are trying to develop an mobile app with this API

[2021-04-20 12:38] redouane59 commented on #166
Hmm can it be related to your jdk version ? I'm really not an expert of Android :/

[2021-04-20 12:39] redouane59 commented on #171
Hi,

For your first problem, your answer is on the log error message : "invalid api secret". In your example you didn't set any api secret value.

[2021-04-20 12:41] redouane59 commented on #171
And for your second question, it depends on what you want to do. If you need to access the search endpoint on 30 last days, you should use 30-Days.

[2021-04-20 12:54] redouane59 commented on #163
I saw that you removed your last message, is it ok ? Of course you can extend whatever you want :)

[2021-04-20 12:56] kopax commented on #163
Yes @redouane59 I did because extending did work great and I am now able to retrieve avatar of my twitter users.

I still feel it's weird that this library is not supporting those endpoints, this forced me to duplicate multiple class, while it is twitter API v1 covered by this package. But still, thanks for doing this package :)

[2021-04-20 13:10] RedouaneBALI commented on #163
Yes I understand you, maybe the decision to delete the V1 endpoints once the V2 were released was a bad one and I had to keep the two versions on the library.
@JessicaGarson what is your feeling about it, should libraries support V1 + V2 endpoints even if they exist on the two sides ?

[2021-04-20 13:10] redouane59 commented on #163
Yes I understand you, maybe the decision to delete the V1 endpoints once the V2 were released was a bad one and I had to keep the two versions on the library.
@JessicaGarson what is your feeling about it, should libraries support V1 + V2 endpoints even if they exist on the two sides ?

[2021-04-20 14:09] Wolfehh commented on #166
Maybe. I have 8u241. I'm also not well versed in android at all, this is just for a school project.

[2021-04-20 19:00] calves07 opened #172 "NullPointerException using getRetweetersId()"
Hey,

I have a very simple code, just trying to get a list of retweeters ID, my code looks like this:

`String s = client.getRetweetersId("XXX");`

**client** was initialized like in one of the examples provided:

[code]

----
When I run the code, I get a NullPointerException, any thoughts?

[code]

[2021-04-20 19:48] redouane59 commented on #172
Can you please provide the id of the tweet you are analyzing ?

[2021-04-20 20:00] calves07 commented on #172
I tried a couple different IDs and it always failed. One of the IDs I tried was 1384572710248976384

[2021-04-20 20:06] redouane59 commented on #172
On my side it is working find, I have a result with 41 ids. Are you sure that your credentials are correct ? You can check the error logs, you will probably have an error before the one you shown me.

[2021-04-20 20:11] calves07 commented on #172
I do have some warnings before that...

[code]
----
It is also important to note than on my first attempt to run the project, I was getting the error `SLF4J: Failed to load class “org.slf4j.impl.StaticLoggerBinder”` and to overcome this, I added the following dependencies on my pom.xml

[code]
----
I didn't find this importance because I believe this is related to logging. But maybe this is preven

[2021-04-20 20:15] redouane59 commented on #172
@calves07 don't worry for that, just debug making sure that before calling the endpoint, your twitter credentials are correct on the `twitterClient.getTwitterCredentials()` object

@hypr2771 any suggestion to avoid that users miss the logs ?

[2021-04-20 20:19] redouane59 commented on #172
@calves07 please double check that your twitter credentials are correctly set up on the `twitterClient.getTwitterCredentials()` object.

[2021-04-20 20:22] calves07 commented on #172
If you make the request to that post ID, the first UserID will probably be 1206704737833422848.
Can you try getUserFromUserId("1206704737833422848") to see if it gets the user?

[2021-04-20 20:25] redouane59 commented on #172
working perfectly :
[code]

[2021-04-20 20:31] calves07 commented on #172
Well, now my first request to get the retweeters ID is working but then I have another request to get the User and it's coming empty so if I try to get something from the user, there will be a NullPointerException. Anyway, considering your feedback, I'll look into my credentials, maybe my Twitter app has some limitations and cannot access some endpoints or wtv.

[2021-04-20 20:32] redouane59 commented on #172
It's possible, the `getUserFromUserId()` method is using the API V2, make sure your twitter dev account is able to use these endpoints.

[2021-04-20 20:38] calves07 commented on #172
I created a project for API v2 and looks like it's working now. Thanks a lot!

[2021-04-20 20:41] redouane59 commented on #172
Great, have a good night !

[2021-04-20 20:41] #172 closed

[2021-04-20 23:55] JessicaGarson commented on #163
Thanks, @redouane59! At some point in the future, we may deprecate v1 endpoints, but at this point, it's up to the library maintainer. V2 endpoints do represent the direction we're heading for the future. We're here to help you out, and we appreciate the service and support you provide to the community.

[2021-04-21 12:14] irisliou33 commented on #171
Alritee, thank you for you help!

[2021-04-21 15:52] redouane59 commented on #171
Is everything solved ? Can we close the issue ?

[2021-04-21 15:53] redouane59 commented on #166
I won't be able to help you further, I let you make tests with other laptop / environment, I'm sure you will find the root cause :)

[2021-04-21 15:53] #166 closed

[2021-04-22 19:20] redouane59 opened #173 "Implement like endpoints v2"
See [here](https://developer.twitter.com/en/docs/twitter-api/tweets/likes/migrate)

[2021-04-22 21:22] #171 closed

[2021-04-23 13:10] irisliou33 commented on #171
yea, thank you very much!

[2021-04-24 10:37] #173 closed

[2021-04-30 20:48] Yicong-Huang opened #177 "The OAuth 1.0a authentication seems deprecated"
I am getting the following error when using API key and Access token to request for Twitter API V2 Full Archive Search. I don't find a way to supply Bearer token to the TwitterClient?

```https://api.twitter.com/2/tweets/search/all {"title":"Unsupported Authentication","detail":"Authentication with OAuth 1.0a User Context is forbidden. Please, make the request with OAuth 2.0 Bearer Token authentic

[2021-05-01 10:27] redouane59 commented on #177
Hi @Yicong-Huang , thanks for the issue. I think that's a regression related to a recent release. I'm going to fix it now.

[2021-05-01 10:42] #177 closed

[2021-05-01 10:55] redouane59 commented on #177
Issue will be fixed in the release v1.23 soon available today.

[2021-05-01 13:42] kopax-polyconseil commented on #163
Hi @redouane59 ! I am just working with your module again and I am curious, will you take an action for the module at this point?  Every method I call must be from v1 endpoints and I have to rewrite almost all the methods on my end. Classes are missing to handle v1 response. Using v2 is still not an option until Twitter allows more than one application for v2 API.

[2021-05-01 15:20] redouane59 commented on #163
Hi @kopax-polyconseil ,

Is it too hard for me to maintain V1+V2 endpoints. Each time a new V2 endpoint is released, I remove the old one and replace it with the new implementation.
@JessicaGarson could you tell us when it will be possible to have several applications using v2 API ?

[2021-05-03 18:29] Yicong-Huang commented on #177
Thanks for the quick fix! I confirm I have successfully integrated this full archive search API into our project. However, I still think it's better to go with the bearer token authentication method. I've used https://github.com/twitterdev/search-tweets-python/tree/v2 and they are using bearer token already. Wonder if possible to have a java version.

 I've seen #43 discussing this suggestion but

[2021-05-03 19:51] redouane59 commented on #177
Hi @Yicong-Huang , i'm a little bit stuck with it. It's kind of difficult to allow this because `OAuth10aService` should be instantiate using an api key in `AbstractRequestHelper` class and it looks mandatory.

@PhantomYdn do you know if it's possible to instantiate it with a bearer token only ?
From your PR https://github.com/redouane59/twittered/pull/126 I think it was not  planned but if you ha

[2021-05-05 19:11] kopax-polyconseil opened #179 "Follow endpoint returning null FollowResponse data"
Hi @redouane59 , quick question, i want to follow someone using the API, of course I checked before and it use requestHelper v1.

When I run:

[code]

`f1.data` and `f2.data` are always null, looking at the account I am trying to follow, it's not being followed.

My URl look like `https://api.twitter.com/2/users/250980843/following`, my body look like `{"target_user_id":"3282200682"}`

Do you have

[2021-05-05 19:17] #179 closed

[2021-05-05 19:35] redouane59 commented on #179
Yes the classes are maybe not well named but helper v1 is not related to API endpoints V1.

If you need some code sample don't hesitate to check [integration tests](https://github.com/redouane59/twittered/blob/develop/src/test/java/com/github/redouane59/twitter/nrt/ITwitterClientV2Test.java#L295).

[2021-05-05 21:02] kopax-polyconseil commented on #179
Sorry for posting that fast. I solved it using the V1 endpoint, (for those reading https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/follow-search-get-users/api-reference/get-friendships-show , be aware 1.1 params is `user_id` and nothing else).

I am grateful that you are maintaining this package, it is awesome. Thanks !

[2021-05-07 13:19] HardesFaktor opened #180 "Request: Get Display + Expanded Url from UserV2"
Hello,

after searching in the projects code, I haven't found any way to get the expanded and displayed url frpm an user.
Is it possible to add this features under the UserV2 class? Or did I missed something?

What i mean:
<img width="316" alt="twitter_url_example" src="https://user-images.githubusercontent.com/7634094/117455393-6fe8d200-af47-11eb-9469-e949a197bf0a.png">

![image](https://user-ima

[2021-05-07 17:08] redouane59 commented on #180
Hi @HardesFaktor , currently the `getUrl()` method doesn't exist in the User interface, so you have to get the url using `((UserV2) result).getData().getUrl()` .
But that's a good point I will add it to the next release.

[2021-05-07 17:38] redouane59 commented on #180
Done, this feature will be present inside the next release (V1.24). You will be able to call `user.getUrl()` for the main url and `user.getEntities()` for all the other entity fields

[2021-05-07 18:11] kopax-polyconseil opened #183 "Gif cannot be read"
I have been trying to upload a gif using `twitterClient.uploadMedia(f, MediaCategory.TWEET_GIF);` and I keep having issue to display it on every browser desktop or mobile I have tried.

It seems the upload is OK, but arrive corrupted. I have tried with an Open source Gif from Giphy and with this rotating earth from wikipedia:

<img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Rotating_

[2021-05-08 10:39] redouane59 commented on #183
Hi @kopax-polyconseil , honestly I never tested the upload of a gif file. I'm going to try to debug it this week-end, I'll keep you informed.

[2021-05-08 15:30] redouane59 commented on #183
Issue opened on twitter forum : https://twittercommunity.com/t/issue-with-media-upload-for-gif-files/153856

[2021-05-09 09:32] redouane59 commented on #183
Hi @kopax-polyconseil ,

We just identified that the endpoint I was using was only dedicated to image files (thanks @mmornati )
To upload gif or videos, other endpoints had to be called (two calls instead of one, for `INIT` and `APPEND`.  See [here](https://developer.twitter.com/en/docs/twitter-api/v1/media/upload-media/api-reference/post-media-upload-init)

Do you feel you can submit a PR with th

[2021-05-09 19:57] HardesFaktor commented on #180
Thank you! I will then use the getEntities() method in the next release. I already know, that with getUrl() on UserV2 but for my project I also need the displayed + expanded url. Currently I use getUrl() as a placeholder.

[2021-05-09 19:57] #180 closed

[2021-05-11 22:33] calves07 opened #186 "Limits and pagination"
Hey,
I understand the standard limit for requests like getFollowers() is 15 requests per 15 minutes. Each request can retrieve a maximum of 1000 blogs so I guess the max we can get is 15.000 blogs before the limit is reached. But the request doesn't finish until all the data is retrieved so if I'm querying a blog with a lot of followers (let's say 100.000, for example), the request would take more

[2021-05-12 17:35] redouane59 commented on #186
Hi @calves07, the idea is interesting.

The short-term solution would be to override on your side the method `getFollowers` with something like :

[code]

If some other people feel an interest with it, we could definitively add it to the library.

[2021-05-12 18:00] calves07 commented on #186
I'll give it a try later!

[2021-05-13 16:57] WORMSTweaker opened #187 "No data returned when using searchForTweetsWithin7days"
Hello! I am using `twitterClient.searchForTweetsWithin7days()` with a few arguments ( `from:WORMSTweaker -filter:replies -RT` ), it was working correctly and I was getting the lastest tweets from this search, but around a month or so ago, it suddenly broke

I tried checking if it was a rate limit issue, I regenerated my keys and tokens multiple times, but nothing helped, and I still get an empty l

[2021-05-14 07:02] redouane59 commented on #187
Hi @WORMSTweaker ,

Just watch the error logs :)

[code]

Twitter just doesn't let you use `-filter:replies` .

[2021-05-14 10:20] WORMSTweaker commented on #187
Ooooh god why didn't I try that, sorry! Thanks!
I will try to use other operators detailed in the operator list and see what I can do with them
However something surprises me, I do not get such errors messages in my application, did I miss some kind of verbose setting somewhere?

[2021-05-14 13:38] redouane59 commented on #187
@hypr2771 any clue about this ? Does external applications have to have a `logback.xml` file to see the lib logs ?

[2021-05-16 06:24] redouane59 commented on #187
@WORMSTweaker could you try to add it to your `pom.xml` :
[code]
From [this](https://stackoverflow.com/questions/7421612/slf4j-failed-to-load-class-org-slf4j-impl-staticloggerbinder), it should solve your problem.
Please keep me informed I'll update the documentation :)

[2021-05-16 16:03] WORMSTweaker commented on #187
@redouane59 Since I am using Gradle instead of Maven, I had to find an alternative, [here](https://stackoverflow.com/a/59178348)
[code]
After specifying the path to a valid log4j.properties file, using `PropertyConfigurator.configure("log4j.properties");`, I am getting logs!
I hope this will help

[2021-05-16 16:55] redouane59 commented on #187
Great ! So I guess you can close the issue :)

[2021-05-16 16:57] WORMSTweaker commented on #187
Sure! Thanks for the help!

[2021-05-16 16:57] #187 closed

[2021-05-18 16:33] lsgTwoz opened #188 "twitterClient.getUserMentions() 401 error"
I am using a translator. Thank you for your understanding.

I am getting a 401 error while using twitterClient.getUserMentions().
Are tokens being added normally? twitterClient.postTweet() worked fine.

Even when called with Postman, it worked fine. There was nothing wrong with the token.

![image](https://user-images.githubusercontent.com/83392349/118688949-7e859200-b841-11eb-8695-de62a14b1c63.pn

[2021-05-19 18:07] redouane59 commented on #188
Hi,
Yes it is added automatically. On my side the method is working.
You should post on the [twitter dev forum](https://twittercommunity.com/) as far as the problem is not related to the library but to the use of the Twitter API :)

[2021-05-20 02:49] lsgTwoz commented on #188
I only added this apiKey and apiSecretKey to the config and there was no error!

When initializing the existing config, the accessToken and the accessTokenSecret were initialized at the same time.
Because getUserMentions was an api in v2, an authentication error occurred because the required Bearer token was not added.

Should the v1 client and v2 client be initialized and used separately?

[code]

[2021-05-20 08:54] redouane59 commented on #188
No it shouldn't. I'll debug that tonight, it's possible that this is a bug. I'll keep you inform quickly :)

[2021-05-20 18:20] redouane59 commented on #188
So strange, it looks like without dates it's ok but when you add dates parameters it gives a 401... Still digging.

[2021-05-21 03:41] JustinBPhillips commented on #149
Just to follow up - though I've never used github and don't know if this will be seen given it's closed,

TweetSearchResponseV2's data list is of type TweetV2.TweetData, so when a user calls searchForTweetsFullArchive and loops through TweetSearchResponse's getTweets() and calls getUser() then I believe you will reach UnsupportedOperationException().  Perhaps I'm not understanding the code correct

[2021-05-21 17:58] redouane59 commented on #149
Hi @JustinBPhillips , don't worry I saw your comment. I'm going to debug it now. I'll keep you informed

[2021-05-21 18:20] redouane59 commented on #149
Ok I see the problem, the Twitter API is returning an object which looks like :

[code]
and my method just returns a list of tweets, which is based on the `data` property.

I don't really like the object that Twitter is returning. To solve the problem, I should maybe return the whole object instead of a `List<Tweet>` an let user consume it with `result.getData()` and `result.getIncludes().getUsers

[2021-05-23 20:54] JustinBPhillips commented on #149
Fantastic, thanks for looking into this.

While I have you, there are some missing fields in the TweetV2.TweetData class.  Off the top of my head, I think it's missing "source", and "withheld", and Attachments is missing "polls_ids".  Thanks for putting all of this together, I'm looking forward to using this!

[2021-05-24 21:05] redouane59 commented on #149
Could you create another issue for this ? I'll try to implement it soon.

[2021-05-24 21:24] redouane59 commented on #149
For this structure issue, @sparack advised me to create a feedback for his product team [here](https://twitterdevfeedback.uservoice.com/forums/922918-twitter-for-academic-research/suggestions/43492353-list-of-tweet-response-structure) . Please put +1 on it to make the topic going up :)

[2021-05-27 17:10] Yicong-Huang opened #193 "Getting nextToken as null"
Hi @redouane59,

I am using the V2 FullArchiveSearch API, for some reason I am getting the nextToken as null when querying for a large time period. The following is a sample code I use:

[code]

[2021-05-28 07:03] redouane59 commented on #193
Hi @Yicong-Huang ,

Did you try the same from postman ? Do you have the same behavior ?

[2021-05-28 08:15] civ opened #194 "Add support for attachment_url in tweets"
If it's possible and I missed it excuse me.
As described in this stackoverflow question:
[https://stackoverflow.com/questions/29680965/how-do-i-properly-retweet-with-a-comment-via-twitters-api](https://stackoverflow.com/questions/29680965/how-do-i-properly-retweet-with-a-comment-via-twitters-api)

TwitterClient.postTweet needs a variant with an attachment_url param to "embed" another tweet while p

[2021-05-28 09:00] redouane59 commented on #194
Hi,
Did you try to just put in the tweet text the url of the second tweet ?

[2021-05-28 09:43] civ commented on #194
You mean putting the url of the tweet I want to retweet into the text of my new tweet?
That works but it's displayed on Twitter itself differently, you can see that difference in that stackoverflow question above (I just noticed I messed up the link, sorry about that. Works now)
In one case the URL of the retweeted tweet itself is not inside the new tweet's text

[2021-05-28 17:47] redouane59 opened #195 "Implement block lookup v2"
See https://developer.twitter.com/en/docs/twitter-api/users/blocks/api-reference/get-users-blocking

[2021-05-28 18:45] redouane59 commented on #194
Solved, you can now use :
` Tweet tweet = twitterClient.postTweet("test", null, null, "https://twitter.com/TwitterDev/status/1392465174708187137");`

Once Twitter team release the V2 endpoint I'll provide a cleaner solution :)

[2021-05-28 18:45] #194 closed

[2021-05-28 22:51] Yicong-Huang commented on #193
@redouane59 No I haven't. It will be hard for me to reproduce this with postman as I am not sure how to loop with the tool. I did test with https://github.com/twitterdev/search-tweets-python/tree/v2 and the same query worked fine.

The query is arbitrary in fact, could use anything that would result in many pages, for example, just "job". The time window I used is from "2017-01-01T00:00:00Z" to "2

[2021-05-29 15:59] redouane59 commented on #193
Ok thanks for the info I'm going to try to debug locally. I'll keep you informed.

[2021-05-29 16:02] Yicong-Huang commented on #193
that'd be great! thanks a lot. please let me know if you need any other information

[2021-05-29 16:11] redouane59 commented on #193
Ok I just launched it :

[code]

And  obtained 476 results. It looks relevant. Don't you have the same behaviour ?

[2021-05-29 16:19] Yicong-Huang commented on #193
this is the first "page" right? I just tested I got 488 results and the `b26v89c19zqg8o3fosqtyl91dfiqw7ouuf10ip9vqmq2l` on the first request.

[2021-05-29 16:21] Yicong-Huang commented on #193
This behavior is the same. Then the next loop I supply the nextToken to request for the 2nd "page" of the result, and repeat. This works fine for the first 10 - 20ish iterations.

[2021-05-29 16:23] redouane59 commented on #193
Ok i'm going to test that

[2021-05-29 16:29] redouane59 commented on #193
Just created this unit test :

[code]

The test is passing fine, nextToken was never null in 30 iterations.

[2021-05-29 21:30] Yicong-Huang commented on #193
Thanks for the effort! I understand such random errors could be hard to reproduce, given that I don't have logs turned on. Do you mind testing with slightly larger `nbLoops` values, so that it's more likely to encounter the issue? Also, I wonder if that relates to the rate limit of V2 endpoints, but I believe you are handling rate limits right?

[2021-05-30 08:28] redouane59 commented on #193
Hi,

Just made the same test with 100 iterations instead of 30 and it is still passing.

[2021-05-30 16:09] redouane59 commented on #188
I didn't manage to have any answer from twitter teams, the API doesn't gave any clue it's hard for me to debug that :(

[2021-05-30 16:27] redouane59 commented on #188
Ok I just found the root cause, I'm creating the pull request.

[2021-05-30 19:35] redouane59 commented on #188
fix will be added to the next release :)

[2021-05-30 19:35] #188 closed

[2021-05-30 19:37] #195 closed

[2021-05-30 20:31] redouane59 commented on #186
Hi again,

In the last release I implement the v1.1 getFollowerIds() endpoint. The limit is up to 5000 ids / 15min. If you're using that + okHttpCache it can facilite your work :)

[2021-06-01 16:38] calves07 commented on #186
Hey,
Thanks but I'm not sure what you mean. I'll look into that when I have some time.

[2021-06-04 17:35] Yicong-Huang commented on #193
Oh, that's weird! I will then try to find a way to enable logging and see what kind of error I am getting. The above test looks handy to use, it will be great if I can reuse it somewhere!

[2021-06-04 18:42] redouane59 commented on #193
Yes don't hesitate :)

[2021-06-04 18:54] calves07 commented on #186
Hey,

Still don't know how to achieve this, I understand there is now a better endpoint to use (meaning it's possible to get more followers), however, the method still only finishes after importing all of the followers so we cannot process part of the data, we either wait for it to finish or we don't do anything. I think these methods should be able to receive a pagination parameter to allow for p

[2021-06-04 18:59] redouane59 commented on #186
Hey,

You can totally develop a method as I shown you in your code and instead of calling my method, you call yours.
If your class contains the TwitterClient, just replace `this.urlHelper` by `this.twitterClient.getUrlHelper()` and same for all needed members.

[2021-06-04 19:20] redouane59 commented on #186
Or even easier, use the `IdList` class like `getUserIdsByRelation()` method is doing

[2021-06-06 17:45] redouane59 commented on #165
Is implemented here : https://github.com/redouane59/twittered/pull/210

[2021-06-08 12:50] liviuserbanescu opened #211 "Using a stream"
Hello, I would like to use your library in order to start a filtered stream that will follow some users and some tags. I see that creating the stream is easy, but I don't know how to make the client aware of the list of users to follow (and the list of tags). Could you point me to an example? Thank you!

[2021-06-08 18:54] redouane59 commented on #211
Hi, just use `tweet.getUser()` to get the user, or  `twitterClient.follow(tweet.getUser().getId()` to follow the related user.

[2021-06-09 06:21] liviuserbanescu commented on #211
Thank you! Will try it out

[2021-06-15 22:00] elle-trudgett commented on #95
that's great, thank you!

[2021-06-24 21:20] redouane59 commented on #211
I close the ticket, if you have any issue don't hesitate to re-open it

[2021-06-24 21:20] #211 closed

[2021-06-24 21:20] #193 closed

[2021-06-24 21:21] redouane59 opened #215 "Use AdditionnalParameters class everywhere"
Instead of having several constructors for each endpoint, it could be better to have one class called `AdditionnalParameters` containing all the possible fields :)

See https://github.com/redouane59/twittered/pull/214

[2021-06-26 11:36] #215 closed

[2021-06-27 11:27] redouane59 commented on #165
Solved and available in latest releases :)

[2021-06-27 11:27] #165 closed

[2021-06-27 11:32] redouane59 commented on #186
Hi,

From the v2.1 release, all the twitter v2 endpoints can be called using `AdditionalParameters` object. Setting `recursiveCall` to `false` you will only perform one call and get the `next_token` in the `TweetList` object returned :)

[2021-06-30 07:42] aless2003 opened #232 "getUserTimeline returns more than configured"
The getUserTimeline method returns more Tweets than set in the AdditionalParameters. It should have returned 38 Tweets, instead it returned 577. Is there anything I missed or is this a bug?

![image](https://user-images.githubusercontent.com/46018087/123921116-f7baed80-d986-11eb-818c-908fd2c779d7.png)

[2021-06-30 08:29] redouane59 commented on #232
Hi,
You need to set `recursiveCall` to `false` in `AdditionalParameters`, otherwise the method will call the endpoint X times with the `maxResults` you gave, but looping until `next_token` is null.

I just developed this feature, maybe the documentation is bad, don't hesitate to suggest idead to improve it :)

[2021-06-30 08:35] aless2003 commented on #232
Ah alright thanks, yes if I do that it works, thanks!

[2021-06-30 11:07] #232 closed

[2021-07-02 14:20] calves07 commented on #186
Hey,
Glad to see these changes implemented but it still has a problem, in my opinion. Whenever the limit is reached, your AbstractRequestHelper will force the application to sleep for 15 minutes or something like that. In my opinion, it would make more sense to throw a LimitExceededException and let people do whatever they wanted with that information, either wait or process whatever they want wit

[2021-07-02 18:25] redouane59 commented on #186
Hi @calves07 ,

I understand your concern, but to implement this new way of working, it would need a lot of impacting changes in the library core. Why don't you just use `getRateLimitStatus()` method before calling the function ?

[2021-07-02 18:32] calves07 commented on #186
Hey,
Yep, I actually implemented that already, just mentioning as a suggestion.

[2021-07-02 19:52] redouane59 commented on #186
Ok I will try to see how to implement it on my side without breaking everything. Maybe having a default setup in the `TwitterClient` can b done easily. I'll keep you informed quickly

[2021-07-02 20:11] redouane59 commented on #186
Waiting for your feedback about #236 :)

[2021-07-03 12:49] #186 closed

[2021-07-03 13:17] calves07 opened #237 "Serialization"
Hey,
I noticed I cannot serialize a list of UserData, for example. Is this correct and is there a way to easily save the data in a file to import later? I believe if your class implements Serializable, it will work. I can also implement a workaround on my side by creating a serializable object that contains data from your UserData object.

[2021-07-03 13:22] calves07 commented on #186
I'll let you know after the release.

[2021-07-03 13:50] calves07 opened #238 "Rate limit exceeded message displaying milliseconds instead of seconds"
Hey,

In AbstractRequestHelper, you have:
```LOGGER.info("Rate limit exceeded, new retry in " + 1000L * retryAfter + "s");```
You are multiplying seconds by 1000, displaying milliseconds instead of seconds.

[2021-07-03 14:08] redouane59 commented on #186
It's now available :)

[2021-07-03 14:09] redouane59 commented on #238
Well seen, I'm going to correct that ;)

[2021-07-03 14:16] calves07 commented on #238
If you're going to change that, I also suggest displaying the time

[2021-07-03 14:24] calves07 opened #243 "Inconsistencies"
Hey,
Some inconsistencies I came across:

- There is a getFollowersIds() method but there isn't the equivalent getFollowingIds() even though the logic is pretty much the same, only the URL of the request should be different

- In the following code, the first line will return all IDs even if it needs to do more than one request, but the second one will only return 100 users (making just one reques

[2021-07-03 14:29] redouane59 commented on #238
About the current time, is it not to set up on your side ?
For example, with my log configuration I have this message displayed :
`15:28:12.459 [main] INFO io.github.redouane59.twitter.helpers.AbstractRequestHelper - Rate limit exceeded, new retry in 300s`

[2021-07-03 14:30] redouane59 commented on #243
Well seen, I'm going to check it soon ;)

[2021-07-03 14:30] calves07 commented on #238
Well, that's the current time (at the time of logging), I also have that. I'm suggesting to include the time for the reset. Because it's more user friendly to say it resets at 15:35 rather than in 400 seconds, for example.

[2021-07-03 14:35] redouane59 commented on #237
Hi,
Honestly I never tried that. Why can't you serialize this class? Do you have an error or something to share ?

[2021-07-03 14:40] calves07 commented on #237
Yes, java.io.NotSerializableException

Simple test:
[code]

If it's a list of other type of object (from my code, for example) it works just fine. Maybe it will work if you simply add "implements Serializable" in your objects.

[2021-07-03 14:42] redouane59 commented on #238
I see, let me check it :)

[2021-07-03 15:02] redouane59 commented on #238
[code]
done with latest commit

[2021-07-03 15:04] calves07 commented on #238
Awesome, thanks.

[2021-07-03 15:04] #238 closed

[2021-07-03 15:13] redouane59 commented on #237
Yes I should probably implement the same thing that what I already made for Deserialization (see `UserDeserializerV2Test` class).
I'll fix it soon ;)

[2021-07-03 15:44] #237 closed

[2021-07-03 15:45] redouane59 commented on #237
Ok finally I just had to add `@JsonIgnore` property on some methods throwing exceptions. It will be available in the next release :)

[2021-07-03 18:32] redouane59 commented on #243
Initially I didn't implement this endpoint because it's part of V1. Unfortunately, his equivalent endpoint in V2 `getFollowers()` only allows 1000x15=15.000 results / 15min vs 5000x15=55.000 / 15min for the V1 one.
The `getFollowingIds()` endpoint is not implemented for 2 reasons :
1- It's part of V1 endpoints
2- I don't think that much accounts exist with millions of following, so the V2 endpoint

[2021-07-03 19:36] calves07 commented on #243
If getFollowingIds() is part of V1, I assume getFollowersId() is part of V1 as well. This endpoint allows for 15 requests x 5.000 IDs per request = 75.000 IDs. V2 endpoints, which I assume to be getFollowers() and getFollowing() allow for 15 requests x 200 = 3.000 users which is pretty low.

I'm not talking about wether the method returns ID or an object. I'm talking about the fact that one method

[2021-07-03 19:59] redouane59 commented on #243
Yes As I said the two endpoints are from v1 and allow 15x1000 = 15.000 results / 15min. I'm maybe wrong but I don't think that much people follow several hundred thousand of accounts (event Twitter set a limit). I just thought that using an old endpoint was not the best idea if the V2 could work sufficiently. Let's say that keeping the getFollowerIds v1 endpoint was only relevant because a lot of

[2021-07-05 16:26] calves07 commented on #243
Incorrect, if we are talking about the endpoint that returns IDs, it's 15 x 5.000 = 75.000 results / 15 minutes.
The limit for V2 endpoints that return users data, is 15 x 200 = 3.000 users / 15 minutes. It's a massive difference, a lot of accounts have more than 3.000 followers or friends (following) so support for V1 endpoint is very nice.
Also, if you already have support for getFollowersIds(),

[2021-07-05 20:30] calves07 commented on #238
Looks like the time is wrong... I got this message at 21:28, it should indicate 21:33, give or take, not a time from the past.

````[main] INFO io.github.redouane59.twitter.helpers.AbstractRequestHelper - Rate limit exceeded, new retry in 5m at 21:07````

[2021-07-05 21:34] calves07 opened #248 "SSLException"
I have faced this error multiple times when making requests, normally if I try again, it works... any thoughts?

[code]

[2021-07-05 22:00] redouane59 commented on #238
So strange, on my side it is still working well :
[code]

I don't know what could explain that hmmm..

[2021-07-06 12:23] Boby024 opened #250 "doesn't support Academic Research product , tweet.getUser() always null java.lang.UnsupportedOperationException and need of attribute "source""
It doesn't support "Academic Research product" such as "maxResult=500"
User detail per Tweet is always empty.
Could be also possible to get the "source" (which device was used to create the tweet)

[2021-07-06 13:43] ckakalou opened #251 "Error when using searchAllTweets() with parameter "recursiveCall" set to true"
The searchAllTweets() method throws an error when setting the "recursiveCall" parameter to true:

`ERROR AbstractRequestHelper - (GET) Error calling https://api.twitter.com/2/tweets/search/all {"title":"Unsupported Authentication","detail":"Authentication with OAuth 1.0a User Context is forbidden. Please, make the request with OAuth 2.0 Bearer Token authentication.","type":"https://api.twitter.com

[2021-07-06 15:31] redouane59 commented on #250
Hi @Boby024 , can you precise which method you are calling ?
Thanks !

[2021-07-06 15:31] redouane59 commented on #251
Hi @ckakalou , thanks for the issue. I'm going to check that tonight or tomorrow. I'll keep you informed quickly.

[2021-07-06 15:59] Boby024 commented on #250
Hi @redouane59,
I used "searchForTweetsFullArchive"

[2021-07-06 17:20] redouane59 commented on #251
It's ok, the problem should be solved now. The fix will come with the next release 2.5 :)

[2021-07-06 17:20] #251 closed

[2021-07-06 17:28] redouane59 commented on #250
Ok I see.
Currently the Twitter API doesn't return the user information inside the Tweet object for this endpoint.
I already posted a feedback about this bad structure in Twitter dev feedback forum [here](https://twitterdevfeedback.uservoice.com/forums/922918-twitter-for-academic-research/suggestions/43492353-list-of-tweet-response-structure). It would be useful if you +1 this.

What I could do wa

[2021-07-06 18:02] #250 closed

[2021-07-06 18:03] redouane59 commented on #250
Fix will be available in the next release 2.5 in the following days :)

[2021-07-06 18:10] Boby024 commented on #250
@redouane59  thanks for the feedback and the future improvement.
please keep also in mind to enhance 100 to 500 the "maxResult" parameter.

[2021-07-06 18:14] redouane59 commented on #250
Is it allowed ? I just put back 100 because the API gave me an error saying the `max_result` param should be between 10 and 100.

[2021-07-06 18:16] #243 closed

[2021-07-06 18:21] redouane59 commented on #248
Hmmmm I never had it on my side, don't have any idea :/

[2021-07-06 18:26] redouane59 commented on #250
Hmmm don't know what happened, i don't have anymore the error, I just put back 500.

[2021-07-06 18:45] Boby024 commented on #250
I got the same error again:
{"errors":[{"parameters":{"tweet.fields":["attachments,author_id,created_at,entities,geo,id,in_reply_to_user_id,lang,possibly_sensitive,public_metrics,referenced_tweets,source,text,withheld,context_annotations,conversation_id,reply_settings"],"max_results":["500"]},"message":"when requesting `tweet.fields=context_annotations` `max_results` must be less than or equal to

[2021-07-06 18:46] Boby024 commented on #250
here you can see a proof above 500 "maxResult" from a Twitter staff:
https://twittercommunity.com/t/api-twitter-v2-academic-research/156497/5

[2021-07-06 18:48] redouane59 commented on #250
Hmmm so strange, are you using the right credentials ?

[2021-07-06 18:49] redouane59 commented on #250
Oh ok so the problem is related to `context_annotations` field...

[2021-07-06 19:14] Boby024 commented on #250
I couldn't find this method "searchAllTweets"

[2021-07-06 19:22] redouane59 commented on #250
Which version are you using ? Please update your pom and use the latest one :)

[2021-07-06 19:29] Boby024 commented on #250
I'm actually using <version>1.26</version>
which is the newest?
https://mvnrepository.com/artifact/com.github.redouane59.twitter/twittered

[2021-07-06 19:36] redouane59 commented on #250
The last release is 2.4 and all these fixes will be included in the version 2.5

[2021-07-06 19:53] Boby024 commented on #250
thanks

[2021-07-07 09:05] #248 closed

[2021-07-07 12:57] Boby024 opened #256 "searchAllTweets doesn't work well"
When calling "searchAllTweets" the message below is given

(GET) Error calling https://api.twitter.com/2/tweets/search/all {"title":"Unsupported Authentication","detail":"Authentication with OAuth 1.0a User Context is forbidden. Please, make the request with OAuth 2.0 Bearer Token authentication.","type":"https://api.twitter.com/2/problems/unsupported-authentication"} - 403

But it worked well whe

[2021-07-07 14:23] redouane59 commented on #256
Duplicate of https://github.com/redouane59/twittered/issues/251
Will be solved in the next release this week

[2021-07-07 17:49] #256 closed

[2021-07-07 17:56] redouane59 commented on #251
You can now use v2.5 :) https://github.com/redouane59/twittered/releases/tag/v2.5

[2021-07-07 17:56] redouane59 commented on #250
You can now use v2.5 :) https://github.com/redouane59/twittered/releases/tag/v2.5

[2021-07-07 17:56] redouane59 commented on #243
You can now use v2.5 :) https://github.com/redouane59/twittered/releases/tag/v2.5

[2021-07-07 18:14] Boby024 commented on #256
@redouane59  thanks!

[2021-07-08 18:47] Yicong-Huang commented on #193
One possible reason for the original issue could be that the requests are sent too frequently, which hits twitter's rate limit. And under such a situation, it could possibly getting a null next token

[2021-07-08 18:53] redouane59 commented on #193
Hey @Yicong-Huang , did you try the new release 2.5 ?
I don't know if the problem is still reproductible.
The new method name is `searchAllTweets`, it is designed differently, with the use of a new class called `AdditionnalParameter`. I would appreciate your feedback and some update if you still have the problem.

[2021-07-08 18:54] Yicong-Huang commented on #193
no not yet. Will be glad to try that out and give feedbacks to you!

[2021-07-08 18:59] redouane59 commented on #193
Perfect, if you need any support don't hesitate.
You just need tu set the parameter `resurciveCall` to `false` in `AdditionalParameters` if you want the method to just make one call and then return the `next_token`.

[2021-07-09 06:52] Yicong-Huang commented on #193
@redouane59 I was going to try the new release 2.5, very glad to see the recursive call is being handled internally now!

However, I do have some questions regarding using this new `searchAllTweet` endpoint.
1. I don't see how I can specify a start time and an end time for the `searchAllTweet` method?
2. Also, how frequent are the underlying requests being sent? because it seems like the recursive

[2021-07-09 07:32] redouane59 commented on #193
Hi,

1. inside the `AdditionalParameters` object, you can set a lot of parameter as `startTime`, `endTime` etc.
2. Yes, it will just loop and send a new request each time the previous one is finished.

[2021-07-09 15:09] Yicong-Huang commented on #193
ok for 2) I think it will be hard to use like this. my experience is that if you do requests too frequently, reaching twitter's rate limit (max 1 request per second), you will have a cool-down period (e.g., 5 minutes) before you can make another request. For such a recursive loop, requesting as fast as possible might not be a good solution.

[2021-07-09 16:35] Yicong-Huang commented on #193
I confirm when I use recursive call with a long run, I got this in log
[code]

[2021-07-09 16:44] redouane59 commented on #193
Don't worry the method manages the limits, it will sleep and call the endpoint again when it will be authorized :)

[2021-07-09 16:47] Yicong-Huang commented on #193
Yeah I am aware of this but I want to avoid waiting for 5 minutes since it's too long for users to wait. Instead I wrapped the logic to ensure maximum 1 request per second and this way it is more efficient to use the API. Greedy approach would return the first serval pages fast, but will hit into this long waits, thus eventually causing the total runtime to be longer.

[2021-07-09 16:49] Yicong-Huang commented on #193
If the waiting time is calculate wrong and you can fix it, I'd be glad to push this rate limit handling logic to you 🤣

[2021-07-09 16:54] redouane59 commented on #193
#> If the waiting time is calculate wrong and you can fix it, I'd be glad to push this rate limit handling logic to you 🤣

Each endpoint has its own limit and usually it is X calls / 15min so I can't imagine how to manage it limiting the time between two calls. Maybe for your case it should be more relevant to set `recursiveCall` to false, use the `nextToken` and finish the process once you've got

[2021-07-09 16:57] Yicong-Huang commented on #193
That's what I am doing now. Recursive set to false and manually ensure at most 1 request per second (for FullArchivrSearch endpoint). However, if I ever hit the rate limit, the searchAllTweet will sleep 5 minutes internally before it returns, thus makes it hard for me as a user to avoid such wait.

[2021-07-09 16:58] redouane59 commented on #238
Hey,
Could you please try this function and told me
`minutesBeforeNow` in `ConverterHelper` and told me if it works correctly ?
Because I saw in another user log that the endtime was wrong, i cannot understand why it only work on my side :/

[2021-07-09 17:00] Yicong-Huang commented on #193
Since each twitter endpoints have different rate limits, I would wonder if that's still a good idea to merge all apis to searchAllTweets api. If you merge them, then maybe you need to expose the rate limit to be configurable?

[2021-07-09 17:15] redouane59 commented on #238
Ok I found the issue : https://github.com/redouane59/twittered/pull/261

[2021-07-09 17:18] redouane59 commented on #193
I'm not sure to understand what you mean ?
Basically twitter endpoints return a rate limit error if you call too many times the API within a defined time (it's not about the speed of the calls. If you are limited to 100 calls within 15min, you can do 100 calls in 1sec or 100 calls in 5min, that's exactly the same).
What is really tricky is that sometime you have several ways to make what you want

[2021-07-09 17:30] Yicong-Huang commented on #193
hmm, yes I have checked the rate limit on FullArchiveSearch which is 1 call/request per second, and 300 calls in 15 minutes. https://developer.twitter.com/en/docs/twitter-api/rate-limits#v2-limits

However, if I am using your `searchAllTweet` with `recusiveCall` set to false, when hitting a rate limit, the `searchAllTweet` won't return before it finishes sleeping for 5 minutes. How can I avoid thi

[2021-07-10 08:48] redouane59 commented on #193
Actually is `resursiveCall` is set to false you should get an exception whenever you reach the twitter limit. If you didn't have this behavior there is a bug to fix somewhere.
However what you want to do is really interesting. Maybe I should create another parameter like `throwExceptionIfLimitExceeded` to avoid you implementing on your side the loop which already exists on the library. What do you

[2021-07-11 07:07] Yicong-Huang commented on #193
yes, I think that'd be helpful to include a parameter to let the `searchAllTweet` throws an exception when hitting twitter's rate limit! thanks in advance!

[2021-07-11 07:42] redouane59 opened #262 "Let users set up if they want rate limite exceptions"
Following : https://github.com/redouane59/twittered/issues/193#issuecomment-877752829

[2021-07-11 07:54] #262 closed

[2021-07-11 07:54] redouane59 commented on #193
Oups I think I already implemented the feature haha
Can you try to set `twitterClient.setAutomaticRetry(false)` before doing your call please ?

[2021-07-14 16:01] Yicong-Huang commented on #193
yeah, I confirm it works! thanks!

[2021-07-14 17:43] redouane59 commented on #193
Great !! I'm happy for you :)

See you !

[2021-07-23 14:56] Boby024 opened #268 "Allow filter with language"
I wanted to ask if it would be possible to filter with lang (i.e: en, es, etc ...) ?
Because for my project I would sometimes need to crawl only tweets in English or in German.

[2021-07-23 14:59] redouane59 commented on #268
Hi @Boby024 ,
As explained on the twitter documentation, you can use various operator inside your search query.
See : https://developer.twitter.com/en/docs/twitter-api/tweets/search/integrate/build-a-query
ex: `(happy OR happiness) lang:en`

[2021-07-23 14:59] #268 closed

[2021-07-23 18:41] Boby024 commented on #268
@redouane59 thanks

[2021-08-04 12:29] rzo1 opened #271 "How to obtain Entities attached to a given Tweet object?"
Hi  @redouane59 ,

thanks for providing an alternative library to twitter4j (which seems to be dead...)

I might be wrong, but I couldn't find code to obtain the `entities` attached to a certain `Tweet` with the library? Am I right?

For v1.1 I am basically interested in the `entities` and the related index positions as described [here](https://developer.twitter.com/en/docs/twitter-api/v1/data-dic

[2021-08-04 13:15] redouane59 commented on #271
Hi @rzo1 ,

`getEntities()` method is not part of the `Tweet` interface,  nobody asked it before but you're right, it should be there. I'll add it on the next release.

Currently you can use `((TweetV2)tweet).getData().getEntities()` to have it. Please confirm to me that this is working.

[2021-08-04 13:24] rzo1 commented on #271
Thanks for the fast response.

I think, it would be neat to have the `entites` as fully parsed DTOs (annotations, hashtags, cashtags, mentions, urls) to avoid doing JSON parse magic on the client side. wdyt?

[2021-08-04 13:32] redouane59 commented on #271
Yes that's true, it was just implemented like this by lack of time. If you want to do it don't hesitate to submit a PR, otherwise it will wait a little bit more :)

[2021-08-05 06:39] rzo1 commented on #271
Think, this is fixed now.

[2021-08-05 06:39] #271 closed

[2021-08-05 15:21] rzo1 opened #275 "Under which license is twittered distributed?"
We have the **POM** file, which states Apache Software License

https://github.com/redouane59/twittered/blob/8324c5e07106ed10cb0f1db60f4e5cd3d9881d58/pom.xml#L149

and we have a LICENSE file in the source tree

https://github.com/redouane59/twittered/blob/develop/LICENSE

Can you clarify on the license?

Personally, I would prefer the ASL version.

[2021-08-05 16:54] redouane59 commented on #275
Hey,
I'm really not expert in license. Could you push a valid model to replace the current LICENCE file and be iso with the pom ?
I just want the library to be free but without any warranty or constraints on my side. Is ASL in this way ?

[2021-08-05 17:14] rzo1 commented on #275
Yes. You can find more information here: https://en.wikipedia.org/wiki/Apache_License
I will prepare a related PR to switch to ASL.

[2021-08-05 17:48] #275 closed

[2021-08-09 22:53] Boby024 opened #280 "Pagination doesn't work well"
When putting "searchAllTweets" in the "do-while" it stop after the first call, i.e when the second is built with just "next_token" and/or "sinceId" it does work (output always null".
Because I want to build my own "getTweetsRecursively" with some extra process in connection with my database.
can you @redouane59 please explain to me how to solve it?

[2021-08-10 17:29] redouane59 commented on #280
Hey, did you just use the `AdditionnalParameter` argument ? You can set `recursiveCall` to true if you want it to loop.

[2021-08-10 17:52] redouane59 commented on #280
Can you please leave here some code and logs if you have them.

[2021-08-12 19:09] Zakichanu opened #281 "mp4 video doesn't get recognize"
I have this error when i want to upload a mp4 video... [Timer-1] ERROR io.github.redouane59.twitter.helpers.AbstractRequestHelper - (POST) Error calling https://upload.twitter.com/1.1/media/upload.json?media_category=tweet_video {"request":"\/1.1\/media\/upload.json","error":"media type unrecognized."} - 400
Any advice?

[2021-08-12 19:41] redouane59 commented on #281
Hey @Zakichanu ,
Can you please share your full code here. I'm not expert in media upload but I know that there are several steps to upload something. Thanks !

[2021-08-12 19:44] Zakichanu commented on #281
Yes of course, here it is : so I'm using curl to save a mp4 video locally and then i tweeted it :

[code]

[2021-08-12 20:18] redouane59 commented on #281
Ok the issue is related to https://github.com/redouane59/twittered/issues/183
The feature is a little bit hard to implement and I never took the time to do that because it's a V1 endpoint which will be soon replaced.
If you have some time you can submit a pull request to fix it. See [here](https://developer.twitter.com/en/docs/twitter-api/v1/media/upload-media/api-reference/post-media-upload)

[co

[2021-08-12 20:19] redouane59 commented on #280
@Boby024 is it fixed ? If not please give me an update :)

[2021-08-12 20:21] Zakichanu commented on #281
Okay, I see, thank you it helps me a lot, and if i have time I will for sure put some work on this bug! Thx 😊

[2021-08-12 20:23] redouane59 commented on #281
Thanks, as the problem is not solved, please let it opened :)

[2021-08-13 19:29] redouane59 opened #283 "Add method to get tweet url from Tweet or tweet id"
Issue just as a reminder.
[code]

[2021-08-14 23:09] Boby024 commented on #280
String newestId = null;
        String next;
        AdditionalParameters additionalParameters = AdditionalParameters.builder().recursiveCall(false).maxResults(100).startTime(searchTerm.getSearchFrom()).endTime(searchTerm.getSearchUntil()).build();
        do {
            System.out.println(additionalParameters.toString());
            TweetList tweetList = twitterClient.searchAllTweets(searchTer

[2021-08-14 23:09] Boby024 commented on #280
sorry for the late reply.

[2021-08-15 09:09] redouane59 commented on #280
Hmm I'm actually having the same behaviour. Did you try to make the same calls from postman ? Is it working ?

[2021-08-17 10:18] paulvi opened #284 "V2 status support summary table"
As API V2 is under development by Twitter, some new API will appear, and developers would like to know which of them are already supported by this library.

I think there should be some summary table

[2021-08-17 18:52] redouane59 commented on #284
Hi,

Currently my only solution is a little bit raw but you can just check the [ITwitterClientV2](https://github.com/redouane59/twittered/blob/develop/src/main/java/io/github/redouane59/twitter/ITwitterClientV2.java) interface containing all the V2 implemented methods. By the way I think that all the available V2 endpoints are implemented on the library.
But yes a table can be more user friendly,

[2021-08-21 20:26] Boby024 commented on #280
I also tested it without "sinceId" (just with "next_token") but it just stopped after the first request.

[2021-08-22 09:46] redouane59 commented on #280
Strange, on my side it was working.
Please write here your **full code** with the values to let me run it directly in a unit test. On parallel please try it in Postman and confirm to me that the behaviour is different.
Thanks !

[2021-08-23 21:29] logoff opened #287 "post tweet with location (Geo, coordinates, latitude and logitude)"
Hi.

I have been reading the examples and the code, and I didn't find if it's possible to publish a tweet with Geo data (latitude and longitude). Twitter API v1 allows it in the standard POST (https://developer.twitter.com/en/docs/twitter-api/v1/tweets/post-and-engage/api-reference/post-statuses-update). Is it possible?

Regards.

[2021-08-24 16:57] redouane59 commented on #287
Hello @logoff ,

Yes I never implemented it and it was never asked before. As this endpoint is still in V1, I won't develop any new feature on it but feel free to submit a pull request if you really need it :)

Thanks !

[2021-08-24 18:10] logoff commented on #287
Hi.

Unfortunately, now I have no spare time, but it seems that the library is pretty well-designed and should not be so hard. I have seen already some data model classes with geo information.

Thanks for your answer.

[2021-08-24 18:10] #287 closed

[2021-08-24 18:20] redouane59 commented on #287
Yes sorry I don't have so much spare time too right now but as soon as the V2 endpoint will be release I'll take time to implement it too.

[2021-08-24 21:07] Boby024 commented on #280
private List<TweetList> getTweetsRecursively(TwitterClient twitterClient, SearchTerm searchTerm) {
        List<TweetList> result = new ArrayList<>();
        String newestId = null;
        String next;
        AdditionalParameters additionalParameters = AdditionalParameters.builder().recursiveCall(false).maxResults(100).startTime(searchTerm.getSearchFrom()).endTime(searchTerm.getSearchUntil()).b

[2021-08-24 21:08] Boby024 commented on #280
here is the part where I try to get the tweets

[2021-08-31 07:11] rzo1 opened #292 "RateLimit Status for V2?"
Hi,

in V1 there was a dedicated `RateLimitStatus` endpoint. I think, that were is no equivalent in V2, yet.

However, it might be worth parsing the HTTP headers mentioned in [1] and report them back, so the user can check and not hit rate limiting with an HTTP 429.

Wdyt?

[1] https://developer.twitter.com/en/docs/twitter-api/rate-limits

[2021-09-01 11:55] Boby024 commented on #280
it works now
the parameter request  wasn't gut
here: how to perform it: https://developer.twitter.com/en/docs/twitter-api/pagination

[2021-09-01 18:39] Boby024 opened #293 "User: created_at always null and "profil_image_url""
I tested with my python script and the value "created_at" of "user" was given.
Also "profil_image_url" value is not given
Could you check them, please?

[2021-09-02 13:24] redouane59 commented on #292
Hey,
Good idea I didn't even know that. Do you feel able to submit a pull request ? Otherwise I'll try to check it as soon as I'll have some time.

[2021-09-02 13:25] redouane59 commented on #293
These two fields are currently supported by the library. Could you share with me which method you used please ?
thanks

[2021-09-02 14:32] Boby024 commented on #293
I used this method "searchAllTweets"

[2021-09-02 16:19] redouane59 commented on #280
So there is no bug ? If so, could you close the issue ?

[2021-09-03 12:13] rzo1 commented on #292
I am a bit short of time at the moment (course preparations), so if you can have a look, it would be very appreciated. Otherwise, I can come back on it in a few weeks possibily.

[2021-09-04 16:29] Boby024 commented on #280
we can close this issue now :)

[2021-09-04 16:29] #280 closed

[2021-09-05 15:29] redouane59 commented on #293
Ok let me check that :)

[2021-09-05 15:34] redouane59 commented on #293
Ok if you search tweets, you will be able to find the tweet informations.
For example, `searchAllTweetsResult.getData().get(0).getCreatedAt()` will give you an answer.
But if you need information about the user, you have to get the `authorId` and then call the getUser method...

I already created this issue https://github.com/twitterdev/open-evolution/issues/6 hoping that Twitter API team will mak

[2021-09-07 17:34] antoniolmc83 opened #295 "NullPointerException when retrieving pinned tweet for cases where there is no pinned Tweet"
Hi
I was trying out with my own account (which does not have a pinned tweet), and I got a NullPointerException for getPinnedTweet function.

User user   = twitterClient.getUserFromUserName("LmcAntonio");
System.out.println( String.format("Pinned Tweet: %s  ", user.getPinnedTweet()));

Version 1.26 (The latest one found in Maven repository)
 'com.github.redouane59.twitter:twittered:1.26'

[2021-09-07 19:55] redouane59 commented on #295
Hi,
You're right. Fixing it.

[2021-09-07 20:01] #295 closed

[2021-09-09 16:13] Boby024 commented on #293
yes I already used it to get the parameter of tweet "createdAt"
tweetList.getIncludes().getUsers().get(0).getDateOfCreation() give  always "null".

[2021-09-09 18:24] redouane59 commented on #293
Can you give me the id of the related tweet please ?

[2021-09-09 18:29] redouane59 commented on #293
Looking for the expansion for this endpoint [in the doc](https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all), I don't think that you can get all these data directly. I guess you should make another call from the tweet author id

[2021-09-09 18:30] redouane59 commented on #293
Ah wait, maybe the url is wrong and should include `user.fields`, let me check that

[2021-09-09 19:30] Boby024 commented on #293
This issue will also be solved with the next release next week ?

[2021-09-09 19:32] redouane59 commented on #293
Yes I will probably release it next week or the week after as maximum

[2021-09-09 20:12] Boby024 commented on #293
thanks 👍

[2021-09-12 08:33] #283 closed

[2021-09-13 17:30] rakeeb11 opened #299 "Null `Includes` object in `TweetList`"
Currently using: v2.7

`getTweetsRecursively` on `TwitterClient` is missing a call to set includes for the result. This missed call results in `TweetList` having a null `Includes` object.

[2021-09-13 17:37] rakeeb11 commented on #299
closing issue, since I saw this issue is getting fixed on v2.9

[2021-09-13 17:38] #299 closed

[2021-09-13 19:01] redouane59 commented on #299
Yes will be released soon :)

[2021-09-13 23:42] rakeeb11 commented on #299
@redouane59 curious when you'd be releasing. Can you provide instructions on using the SNAPSHOT version with gradle projects. Thank you :)

[2021-09-19 12:55] redouane59 commented on #293
2.9 released

[2021-09-19 12:55] #293 closed

[2021-09-25 15:32] shiwangsimba opened #300 "Can i set proxy?"
Can i set proxy？Otherwise, I will always report errors: Connection timed out: connect

[2021-09-25 15:39] redouane59 commented on #300
What do you mean exactly ?

[2021-09-25 15:44] shiwangsimba commented on #300
like:
setProxy("xxx.xxx.xxx.xxx");
setPort("8080");

There may be some problems with my network. I can open twitter in Google, but the running code will report an error. It says that the connection time out. I found some solutions elsewhere, saying it is a proxy problem

![image](https://user-images.githubusercontent.com/65696505/134777382-09008aac-6a54-47cf-ba04-f477b43171f7.png)

[2021-09-25 15:51] shiwangsimba commented on #300
![image](https://user-images.githubusercontent.com/65696505/134777460-ae07c6b8-b016-4c2f-b6cb-9ed92c5cef8b.png)
like this.This is the library of twitter 4J. I want to use the function of searching all tweets, but it doesn't have this function, so I replaced your library, but what's more embarrassing is that I can't use the proxy function

[2021-09-25 17:04] redouane59 commented on #300
Maybe you can set it up directly using your own HttpClient ?

Like `TwitterClient      twitterClient      = new TwitterClient(twitterCredentials, getServiceBuilder(twitterCredentials.getApiKey()));`

[code]

[2021-09-26 06:05] shiwangsimba commented on #300
thank you , According to your prompt, I finally solved the problem like this
![image](https://user-images.githubusercontent.com/65696505/134795627-9bdbcfaa-c57a-4e8e-b499-0cafbb7c10c5.png)

but why I can get the data normally with "searchTweets", but the result returned by "searchAllTweets" is null

[2021-09-26 08:04] redouane59 commented on #300
Maybe because you don't have an authorised account ? Please check the error logs.

[2021-09-26 09:18] shiwangsimba commented on #300
no,There is no error. When I use "searchTweets", the console outputs data, but when I use "searchAllTweets", there is no output, but the program runs normally without error. When I debug at breakpoint, I find that the value of result is null

[2021-09-26 09:31] shiwangsimba commented on #300
![image](https://user-images.githubusercontent.com/65696505/134801879-18bcbae6-33f4-4808-a841-0005f47fd5a7.png)
![image](https://user-images.githubusercontent.com/65696505/134801909-d640a989-77be-4755-9d9b-b2db7ed6d830.png)

What I don't understand is that the strings I search are the same. Why do I use "searchTweets" and "searchAllTweets" have different results

[2021-09-26 09:43] redouane59 commented on #300
Because searchAllTweets is only for premium Twitter API accounts, and the time frame is not the same.
If you don't have a premium account, you won't be able to use this API. If you check the error logs you will see it.

[2021-09-26 09:45] shiwangsimba commented on #300
ok...I see. Thank you for your reply

[2021-09-26 09:45] #300 closed

[2021-09-27 16:25] shiwangsimba opened #303 "How to use keyword search and exact phrase match"
For example, I want to search for "lionking simba", what is the code for using keyword? What is the code for using exact phrase matching? And I only want to search for original tweets, how do I add parameters? Could you please show an example

[2021-09-27 18:14] redouane59 commented on #303
Hello,
Your question doesn't have anything to see with this library. You should check the Twitter API documentation [here](https://developer.twitter.com/en/docs/twitter-api/tweets/search/integrate/build-a-query) instead

[2021-10-02 11:35] 125m125 opened #305 "How to detect network issures/IP changes for filtered streams?"
Hello,

I am using twittered to read a filtered stream from a network connection where I get a new IP at least once a day. With the default settings, the connection stays open without an exception after the IP changes, but is not receiving any new tweets.

I tried to set the connect and read timeout for the JDKHttpClient, but that doesn't seem to recognize network problems for the streams. Even if

[2021-10-15 11:06] weieast1314 opened #310 "Twitter OAuth Access Token Error: Request token missing"
I'm trying to run through a proof of concept social sign in flow with Twitter using Postman, following this guide: https://developer.twitter.com/en/docs/twitter-for-websites/log-in-with-twitter/guides/implementing-sign-in-with-twitter

I'm stuck on step 3: Converting the request token to an access token

[code]

and result is：

[code]

[2021-10-16 03:09] weieast1314 commented on #310
I checked it. It works normally
In addition, I found that if the post request of getOAuth1AccessToken is not encrypted, the execution result is normal. I wonder why

[code]

[2021-10-16 10:34] redouane59 commented on #310
Hmm honestly I didn't work at all on this use case. I just implemented the method few months ago to test it manually but I could not help you a lot. If you manage to find any solution to hesitate to explain us and submit a pull request if needed to improve the library.

[2021-10-19 11:17] redouane59 opened #313 "Bearer token support"
Let users to use the library only with bearer token.

Issue created to scribe java [here](https://github.com/scribejava/scribejava/issues/1025)

[2021-10-19 20:51] 9oTbvP8v4L opened #314 "Unauthorized error on getUserFromUserName"
Hi, I'm trying to run example from README with this piece of code
[code]

But it throws `ERROR i.g.r.t.h.AbstractRequestHelper - (GET) Error calling https://api.twitter.com/2/users/by/username/RedouaneBali {"title":"Unauthorized","detail":"Unauthorized","type":"about:blank","status":401} - 401`

Any ideas?

[2021-10-19 21:04] 9oTbvP8v4L commented on #314
Update: if I pass nul as access token and access token secret (so RequestHelperV2 is used), it throws
[code]
I think that TwitterCredentials should have one more parameter (bearerToken), possible #313?

[2021-10-21 02:06] 9oTbvP8v4L commented on #314
Hi, unfortunately, I'm not able to call any methods from the library's client.
So I'm calling twitter API directly, just using your DTOs to parse results (this approach works).
Yeah, I'm pretty sure the creds are valid.

[2021-11-13 16:24] marcphilippebeaujean-abertay opened #323 "Twitter Response Empty when Responding to Post?"
I noticed that since updating to the latest build and using the new TwitterParameters builder, I've been getting back empty response body when replying to Tweets. Is this something with my code or changes in the code?

TweetParameters.Reply tweetReplyParams = TweetParameters.Reply
                .builder()
                .inReplyToTweetId(replyingToPostTwitterId)
                .build();

[2021-11-13 16:36] marcphilippebeaujean-abertay commented on #323
It was in fact my (frontend) code!

[2021-11-13 16:36] #323 closed

[2021-11-13 18:14] kitkars commented on #314
I am facing similar issue.
[code]
Error:

[code]

[2021-11-14 21:21] redouane59 commented on #314
`twitterClient.getUserTimeline("someuser")` are you sure to call the function with the userid, not the username ?

[2021-11-20 14:24] redouane59 opened #326 "Implement OAuth 2.0 User Context management"
See documentation [here](https://developer.twitter.com/en/docs/authentication/oauth-2-0/user-context-making-requests-on-behalf-of-users)

[2021-11-20 14:26] redouane59 commented on #326
Hey @PhantomYdn , as you master this part, is it possible for you to submit a pull request with the implementation of the beta OAuth 2.0 announced by Twitter recently ?

[2021-11-20 16:54] PhantomYdn commented on #326
@redouane59 , will try to find some spare time for that. You can assign this issue to me.

[2021-11-20 17:42] redouane59 commented on #326
Thank you so much !

[2021-11-21 21:11] kitkars opened #327 "Any example for streaming tweets?"
Can you give me an example for printing all the new tweets with specific hash tag?

I was looking at your `FilteredStreamRulePredicate`. I am not sure how it is connected with `startFilteredStream`

[2021-11-21 21:16] kitkars commented on #327
What is wrong here?

        FilteredStreamRulePredicate rulePredicate = FilteredStreamRulePredicate.withHashtag("something");
        twitterClient.addFilteredStreamRule(rulePredicate, "something");

I get this error

[code]

[2021-11-22 20:13] redouane59 commented on #327
On my side, your code is running correctly. Are you sure to have correctly set up your twitter dev account credentials ?
Are other endpoints working well ?

[2021-11-25 22:15] ShaunRly commented on #327
I'm also having a similar problem using addFilteredStreamRule

`twitterClient.addFilteredStreamRule("has:geo sample:10", "base");`

[code]

The stream does work without the rule attached so the credentials are definitely being used correctly.
Using breakpoints the issue seems to be happening here with data being returned as null.

[code]

[2021-11-26 14:57] ShaunRly opened #330 "IAPIEventListener using V2 route implements V1 Tweet Object"
Is there a way to implement a Filtered Stream that consumes TweetV2 objects? Currently IAPIEventListener seems to be using the TweetV1 type object which doesn't have access to certain fields, namely the MatchingRules field.

Apologies if I'm missing something here.

[2021-11-27 08:36] redouane59 commented on #327
Hmmm it's really hard for me to fix that as far as I'm not able to reproduce it locally :(
Can you try to show me the raw result you have from the Twitter API ?

[2021-11-27 08:40] redouane59 commented on #330
Hey,
The filteredStream endpoint is part of V2 endpoints, the streamed tweets should be V2 objects. Do you have any example to share with me ?
Thanks

[2021-11-27 14:40] ShaunRly commented on #330
Sure, I'll post the block using the stream endpoint

[code]

Note i'm using external methods to setup the rules for the stream as i'm still having issues with the addFilteredStreamRule method, but I don't suspect that has anything to do with this issue.

As far as intelij knows, in the onTweetStreamed Event, it has no access to the matching rules field at that point.

[2021-11-27 14:54] redouane59 commented on #330
Hmmm that's strange because the code looks ok.
Can you show me the Tweet object that you are retrieving ?
The `matchingRules` is always null ?

[2021-11-27 15:11] ShaunRly commented on #327
Sure, direct response is

{"meta":{"sent":"2021-11-27T14:58:14.808Z","summary":{"created":0,"not_created":1,"valid":0,"invalid":1}},"errors":[{"value":"#NewYork sample:10","id":"1464244590714699776","title":"DuplicateRule","type":"https://api.twitter.com/2/problems/duplicate-rules"}]}

Which seems correct, but in abstractRequestHelper, it seems the problem may be with the method call of

result =

[2021-11-27 15:20] ShaunRly commented on #330
Ah casting got it! I didn't expect that to work honestly, should have been one of the first things i tried but I assumed it was getting instantiated as a V1 and thus wouldn't have those fields even after casting. Shows I still have a bit to learn, thanks!

But yes I think adding the V2 fields to the interface would be more foolproof in the long run.
Thanks again!

[2021-11-27 15:32] redouane59 commented on #330
Yes definitively, let's keep this issue open to not forget this improvement.

[2021-11-27 15:54] redouane59 commented on #330
Is it ok for you #331 ?

[2021-11-27 16:11] ShaunRly commented on #330
Looks great dude, I was just doing the same thing but you're quicker than I am!
Thanks for the quick response and fix,

[2021-11-27 16:13] redouane59 commented on #330
Haha don't worry, this will be available in the next release. Until then, just parse the Tweet to TweetV2.

Thanks !

[2021-11-27 16:13] #330 closed

[2021-11-27 17:17] #314 closed

[2021-11-27 17:18] redouane59 commented on #310
Solved by #328

[2021-11-27 17:18] #310 closed

[2021-11-27 20:17] redouane59 commented on #327
Ok now I understand your problem. You are trying to add two times the same rule.
The first time, it is working because the Twitter API is returning an http code 200.
The second time, the Twitter API is returning an error code because you are not allowed to add the same rule twice.
The `addFilteredStreamRule` method is throwing an exception because of that. This behaviour is the one expected.

[2021-11-28 08:05] redouane59 commented on #326
Hey @PhantomYdn , I would like to release the version 2.13 in the next following days, do you think you will have spare time to implement that before ?

[2021-12-01 12:28] UoUoio opened #332 "Can't V2 send Tweet with pictures?"
Because my developer account only supports V2 API, when I call "twitterClient.uploadMedia ()", I will be prompted that I don't have permission to use this API. So I can't get the mediaId normally. I asked the relevant staff in the community, and they said that "the create tweet in v2 to post the tweet and attach the image" could be used to realize it. I studied for a day, but I couldn't find the r

[2021-12-01 20:52] redouane59 commented on #332
Hey,

Please check the following example : https://github.com/redouane59/twittered/blob/develop/src/test/java/io/github/redouane59/twitter/nrt/ITwitterClientV2AuthenticatedTest.java#L271

[2021-12-02 01:47] UoUoio commented on #332
Thank you! ! !

[2021-12-02 01:47] #332 closed

[2021-12-03 14:54] redouane59 commented on #327
You're right, I'm going to add it.

[2021-12-03 15:04] #327 closed

[2021-12-05 09:15] redouane59 opened #335 "Attach user information in TweetList object"
See https://github.com/twitterdev/open-evolution/issues/6#issuecomment-986161619

[2021-12-10 09:11] redouane59 opened #340 "Additional data for timeline tweets"
### Discussed in https://github.com/redouane59/twittered/discussions/339

<div type='discussions-op-text'>

<sup>Originally posted by **jormungander** December  9, 2021</sup>
The user timeline request does not have the MEDIA_FIELD and EXPANSION parameters set, unlike many of the other tweet requests.  Is this done deliberately?</div>

[2021-12-10 09:27] #340 closed

[2021-12-13 07:01] seinecle commented on #326
Allelujah! Will test it asap.

[2021-12-13 20:39] redouane59 commented on #326
Any new @PhantomYdn ?

[2021-12-15 18:19] Programistich opened #342 "Сan i get a list of tweets that a person has liked?"

[2021-12-15 18:21] redouane59 commented on #342
This question is more for the twitter api forum. I don't think that such endpoint exists. For now you can only see the likes of an authenticated user.

[2021-12-15 18:25] Programistich commented on #342
But Twitter have that api https://developer.twitter.com/en/docs/twitter-api/v1/tweets/post-and-engage/api-reference/get-favorites-list

[2021-12-15 18:26] Programistich commented on #342
![image](https://user-images.githubusercontent.com/35292229/146244016-897bd212-f30c-452d-aaf9-3c152fdc7fbe.png)
![image](https://user-images.githubusercontent.com/35292229/146244040-a713a706-06ee-4d86-b2c8-db528096edbf.png)

[2021-12-15 18:31] redouane59 commented on #342
Sorry I was wrong, the authenticated is maybe not needed. Try to use `getLikedTweets` method !

[2021-12-15 18:34] Programistich commented on #342
From User or what?

[2021-12-15 18:39] redouane59 commented on #342
From `TwitterClient` , it's a V2 method :)

[2021-12-15 18:47] Programistich commented on #342
But i need to setup Oath2? How i can that in TwitterCredentials?

[2021-12-15 18:55] redouane59 commented on #342
You just need to instantiate the TwitterClient with your credentials yes.
Then you can check the example on the integration test : https://github.com/redouane59/twittered/blob/develop/src/test/java/io/github/redouane59/twitter/nrt/ITwitterClientV2Test.java#L460

[2021-12-15 18:57] redouane59 commented on #342
For the instantiation of the TwitterClient, check the readme :
https://github.com/redouane59/twittered#readme

[2021-12-18 00:33] jormungander commented on #292
Yes, it would be very helpful to have the 3 rate limit values from the HTTP response headers returned for every request.

[2021-12-18 07:57] redouane59 commented on #292
Feel fry to submit a pull request guys :)

[2021-12-20 17:45] oleg-grigorijan opened #344 "Wrong FilteredStreamRulePredicate#and(FilteredStreamRulePredicate) implementation"
`And` operator in the Twitter query syntax looks like a single space `" "`, not `" AND "`.
`" AND "` is interpreted as "filter tweets containing `AND` keyword"

See [Boolean operators and grouping](https://developer.twitter.com/en/docs/twitter-api/tweets/search/integrate/build-a-query#boolean) section.
Also see a [warning here](https://developer.twitter.com/apitools/query?query=a2V5d29yZEEgQU5EIGt

[2021-12-20 19:09] redouane59 commented on #344
Thanks for the feedback ! @rzo1 could you submit a Pull Request to fix it please ?

[2021-12-20 20:46] rzo1 commented on #344
Thanks for the heads up @oleg-grigorijan - cool, that someone is using it. @redouane59 I just submitted a PR, which replaces the ` AND ` with the ` ` to respect twitter query syntax.

[2021-12-20 21:00] #344 closed

[2021-12-20 21:01] redouane59 commented on #342
Can I close this issue ?

[2021-12-20 21:16] oleg-grigorijan commented on #344
Thanks for your speed 👍🏻

[2021-12-21 23:15] knutwannheden commented on #342
I just tested this method and it works. In the documentation it is mentioned that the endpoint supports pagination. But with this Java method I always get all liked tweets, which can be a lot and quite slow. Let me know if I should report a separate issue for this.

[2021-12-21 23:21] knutwannheden commented on #342
Never mind, I missed the overload with the `AdditionalParameters` 🤦

[2021-12-22 03:22] NoelTheN00B opened #346 "Can't post a Tweet two times"
Hi,
I'm trying to make a bot that tweets something after a specific time. Right now I'm using a Timer that executes a TimeTask every minute. In the TimerTask I'm trying to tweet a text and print something in the console for debugging. Everything looks like this:
Main:
[code]
TimerTask:
[code]
For the first Tweet everything works fine, but it will not tweet any more Tweets. In the console it prints

[2021-12-22 19:44] redouane59 commented on #342
Don't worry haha, can we close the issue ?

[2021-12-22 20:21] redouane59 commented on #346
Hey,
Can you try to do the same thing from the app ?
I think twitter app doesn't let a user tweet twice the same content. It should be the same using the API.

[2021-12-22 20:55] NoelTheN00B commented on #346
Thx for the reply, you're right. I could have thought of this by my self, but I didn't expected something like this.

[2021-12-22 20:55] #346 closed

[2021-12-24 20:50] jormungander commented on #292
I'll try to do it in January.

[2021-12-28 09:27] oleg-grigorijan opened #347 "Chunked tweet JSON object during filtered tweets stream causes JsonParseException"
Sometimes only a chunk of a tweet JSON object is received during tweets streaming. It is unexpected by the library and causes JsonParseException and connection closing. This problem occurs very often.

Real example:

Previous streamed message (valid finished JSON):
[code]

Next streamed message:
[code]
Causes:
[code]

[2021-12-28 17:57] redouane59 commented on #347
Hey @oleg-grigorijan , hmmm good point, I never saw it before. That's strange because I'm running a bot streaming some keywords 24/7. Can you give me the exact method you're using ?
In all cases, I think that the method actually takes the message as it is and parse it, so if the Json is not valide, it will give an exception. I should try to see how to change its behaviour.

[2021-12-28 20:03] oleg-grigorijan commented on #347
@redouane59
I use `TwitterClient#startFilteredStream(IAPIEventListener)` (with configured filtered rules by `TwitterClient#addFilteredStreamRule(String, String)`).

Yes, a badly formatted message may be an issue on the Twitter side. But maybe the stream connection should not be closed after a single separate message processing exception. For these case `IAPIEventListener#onUnknownDataStreamed(Stri

[2021-12-28 20:59] redouane59 commented on #347
Yes of course, going to check that.

[2021-12-28 21:27] redouane59 commented on #347
I think that https://github.com/redouane59/twittered/pull/348/files should solve the issue

[2021-12-28 21:32] redouane59 commented on #347
Could you build the library on the related branch and told me if it solves the problem ?

[2022-01-01 22:03] devozs commented on #183
hi guys, any updates / planes to support gif upload?
(this one was closed [https://github.com/redouane59/twittered/pull/184](url))
anyone else was able to work around this issue?
thanks a lot

[2022-01-02 09:30] redouane59 commented on #183
Hey @devozs , on my side I didn't have time to work on this issue. As Twitter didn't release yet the V2 version of this endpoint, I'll wait that before dedicating some time.
But feel free to submit a pull request if you would like to fix it :)

[2022-01-02 09:41] #326 closed

[2022-01-02 09:42] #335 closed

[2022-01-02 09:42] #342 closed

[2022-01-03 08:04] oleg-grigorijan commented on #347
Yes it does. Thanks a lot

[2022-01-03 17:49] redouane59 commented on #347
Great, the fix will be included on the next release :)

[2022-01-03 17:49] #347 closed

[2022-01-04 10:11] devozs commented on #183
thanks a lot @redouane59 for the overall effort as well as the response!

[2022-01-05 17:58] cjkipu opened #350 "getUserTimeline method issue"
![image](https://user-images.githubusercontent.com/43841454/148265715-8fbf502f-4368-47b4-818b-976435a8de96.png)

Getting the output above when invoking the getUserTimeline method instead of the tweet id and text

[2022-01-05 17:59] cjkipu commented on #350
This is the code used when using the method
TweetList userTimeline = twitterClient.getUserTimeline(id);
                List<TweetV2.TweetData> tweetList = userTimeline.getData();

                for (int i = 0; i<tweetList.size(); i++) {
                    String nu = tweetList.get(i).toString();
                    Log.d("tweet Content", nu);
                }

[2022-01-05 18:01] redouane59 commented on #350
`tweetList.get(i)` gives you a `Tweet` not a `String`. You should try `nu.getText()` instead.

[2022-01-05 18:05] cjkipu commented on #350
`tweetList.get(i).getText().toString()` worked.
Thanks for your help

[2022-01-05 18:05] #350 closed

[2022-01-08 10:40] consal opened #351 "startFilteredStream without filters set?"
Hello! Is it possible to use `startFilteredStream` without setting filters before (with `addFilteredStreamRule`)? For me, if there are no filters, there is no response at all. In CLI, trying with curl and no filters, it returns plenty of tweets.
`curl -X GET -H "Authorization: Bearer $BEARER_TOKEN" "https://api.twitter.com/2/tweets/sample/stream"`

[2022-01-08 10:50] redouane59 commented on #351
Hello @consal , honestly I never tested this use case before, if it is working from CLI but not in the library, that's probably a bug. I'm in travel right now but I'll try to check in the next following days :à

[2022-01-12 15:28] redouane59 commented on #351
I didn't find anything in the code who can explain that.
Just created a post on Twitter Forum there :
https://twittercommunity.com/t/filtered-stream-without-rules/164922

[2022-01-12 16:08] igorbrigadir commented on #351
The sample stream is a different endpoint, and returns random 1% of all public tweets, while the filter stream returns tweets that match the rules only. If there are no rules or you delete rules while the stream is open, I think it just sends nothing.

[2022-01-12 16:23] redouane59 commented on #351
Ohhh well seen @igorbrigadir ! @consal you were looking for another method, which is `startSampledStream` no ?

[2022-01-13 14:52] consal commented on #351
Oh, nice! Let me try the sampled stream and I'll let you know if it works!

[2022-01-15 20:24] consal commented on #351
Unfortunately the Sampled stream doesn't seem to work, the code:

[code]

The stream doesn't return anything, it immediately returns. Adding `future.get()` doesn't change anything

[2022-01-16 10:05] redouane59 commented on #351
Juste made this test on my side and it works :
Simply use :
[code]

[2022-01-16 12:49] consal commented on #351
Today I reran exactly the same code and it's working 😅
No idea what I was doing wrong yesterday. Anyway, thanks so much for your help!

[2022-01-16 12:49] #351 closed

[2022-02-02 08:22] a4akshatha-rao opened #356 "Post Tweets using Oauth1 only"
The post tweets API uses the RequestHelperV1 only specifically. I need to be able to use OAuth2 Bearer authentication for post tweets. Is there any reason for this specifically? Or can I raise a PR for the changes to use either V1 or V2?

[2022-02-02 08:39] a4akshatha-rao commented on #356
Sorry, didn't realise the endpoint does not support Authenticating with OAuth 2.0 Application-Only.

[2022-02-02 08:39] #356 closed

[2022-02-07 09:13] gh-kirito opened #358 ""oauth_token can't be null" when requesting request token"
Hi there,

I try to build a login flow. For this I need to create a url to authenticate. I tried it with the following code:

[code]

But then I get this expection:
[code]

I tought this method is for obtaining a initial request token. With this token I wanted to build a url to authenticate and then afterwards request an access token. Why I need a token to "start to process"?

Thanks

[2022-02-07 18:59] redouane59 commented on #358
Can you try to use `twittered.getOauth1Token("oob");` instead?

[2022-02-08 10:15] gh-kirito commented on #358
Hi @redouane59 ,
this was actually the first thing I tried when I ran into the error. But no luck...

Isn't it wrong that it tries to get an access token?

[2022-02-08 17:21] RedouaneBALI commented on #358
No on my side it was working.
This test uses that : twittered/ITwitterClientV1Test.java at 4003f42215a13457a8627d0a5d443bc640ae3abd · redouane59/twittered

Are you sure about your credentials ?
I'll try to perform the test again on my side tonight.

[2022-02-08 17:24] redouane59 commented on #358
No on my side it was working.
This test uses that : twittered/ITwitterClientV1Test.java at 4003f42215a13457a8627d0a5d443bc640ae3abd · redouane59/twittered

Are you sure about your credentials ?
I'll try to perform the test again on my side tonight.

[2022-02-08 22:45] gh-kirito commented on #358
Yeah I use the same credentials with a other library (twitter4j).
I was looking for an alternative. This one here looks really promising :)

[2022-02-09 21:05] redouane59 commented on #358
Hmmm honestly it's hard for me to debug because on my side, it is working correctly with `oob` parameter.
If you run the `testGetOauth1Token` test in `ITwitterClientV1Test` class, does it work ?
You just have to put your credentials in `test-twitter-credentials.json` .

Did you also try to test it using postman ? Is it working ?

[2022-02-10 03:06] gh-kirito commented on #358
As I said it works with another library.
Just to make sure there is no misunderstanding here:
What do you mean with "your credentials"?
As far as I remember the examples in the README assume a consumerKey, consumerSecret, accessToken and accessTokenSecret. I could generate the last two for my personal account but I don't want that. In other projects I "start" with consumerKey and consumerSecret...

[2022-02-10 19:12] redouane59 commented on #358
Yes this is correct. Like the unit test :

[code]

Just the API key and the API secret key are used, nothing else

Can you confirm this unit test is not working on your side ?
If no can you try to debug ? As far as it works on my side, really hard to understand the problem :(

[2022-02-28 08:58] nftscan2022 opened #360 "ERROR c.g.r.t.h.AbstractRequestHelper - [makeRequest,122] - Connection timed out: connect"
ERROR c.g.r.t.h.AbstractRequestHelper - [makeRequest,122] - Connection timed out: connect

[2022-02-28 10:06] gagaball88 opened #361 "How do I limit amount of tweets pulled when getting a user's timeline?"
I'm trying to pull tweets of users at a regular interval with:

`twitterClient.getUserTimeline(database.id, AdditionalParameters.builder().maxResults(10).build()).getData()`

I thought that the `AdditionalParameters.builder().maxResults(10).build()` part would limit the tweets pulled to the latest 10, but with every execution, it pulls ALL tweets ever from the user.

Am I doing something wrong? Ho

[2022-02-28 10:45] #361 closed

[2022-02-28 16:37] redouane59 commented on #361
That's it :)

[2022-02-28 16:37] redouane59 commented on #360
You just maybe lost your internet connection during the call.

[2022-03-15 16:46] xberger opened #363 "No non_public_metrics etc in Tweets"
Hi,

I was surprised to find non of the `non_public_metrics`, `organic_metrics`,` promoted_metrics` objects in this library. Is there some reason for this?

If one would - hypothetically speaking - add that objects to twittered, is there anything special to consider? Are those objects manually created or did you use some kind of framework to automatically generate java data classes from the API re

[2022-03-16 12:37] sriharigr-threado opened #364 "Does v1.1 Premium APIs work seamlessly with v2 methods?"
Hey, first of all thanks for building the client.

I am a bit new to this and have a question related to v1.1 and v2.
We have bought premium v1.1 API.
We intend to use 30 days search tweets API.
When I invoke, searchTweets() of your client, v2 API is being invoked. And the function which invokes v1.1 search API is deprecated.
Does v2 return premium API response itself or how does it work? Can you

[2022-03-16 16:13] redouane59 commented on #363
Hello,

It is possible that these fields are missing because nobody asked it before and were not implemented initially. It is managed manually so maybe a quick update of the object class needs to be done. If you have some time feel free to submit a pull request (I'm currently in holiday without access to any laptop but I could check it from mobile)

[2022-03-16 16:23] redouane59 commented on #364
Hey, I'm currently in holiday without laptop. You can check the javadoc which should give the called URL but to me, there are two endpoints and two methods. One for 7 days tweets and an other one for all tweets (the method should be called getAllTweets()).
If you use the second method, it will call the premium endpoint.

[2022-03-17 10:48] sriharigr-threado commented on #364
Hey. Actually both of the V2 endpoints are completely inconvenient. search/recent only returns 7 days. And search/all is only for Academic Research projects. We are unfortunately forced to use deprecated methods which are using v1.1 for now. Very disappointed. Thanks for your quick response though. Have a good holiday :)

[2022-03-17 12:43] xberger commented on #363
Hi,

thanks for the quick reply. Happy holidays!

I'm on it.
Just out of interest: what purpose serves having most of the data in a class called `TweetData` in `TweetV2`, instead directly in `TweetV2`?
Had some trouble with the non-standard `LOGGER` var, since I tried using classes in a different context, but resolved that. Well, I guess my setup is not optimal, but thats a different topic. :)

[2022-03-17 16:08] redouane59 commented on #363
If I remember correctly, we had to split it because depending on the endpoint, the returned object is different (if it returns only one tweet or a list of tweets).
But feel free to submit any improvement if you think that it worth it! :)

[2022-03-21 19:51] redouane59 commented on #363
Hey,

I'm back from holiday :)
Any new ? Did you start working on a pull request or did you want me to check it ?

[2022-03-21 19:52] redouane59 commented on #364
Hey,

I just came back from holiday, can you confirm to me that the deprecated method is working fine and that you don't face any other problem that the deprecated warning ?

[2022-03-22 02:36] sriharigr-threado commented on #364
Hey @redouane59 Yes, I have gone ahead with the deprecated method and didn't face any other issue.
Any plans to include Activity v1.1 related support? At least to add webhook, add subscription, delete subscription. The authentication part in these APIs is a bit tricky. Thanks though :)

[2022-03-22 13:32] LewBr opened #365 "How to post a tweet and then reply to it?"
Hello, i have the following question: How can I post a Tweet and reply to it? I'm trying to do it by getting the last tweet the bot and trying to reply by:

[code]
Is that how I need to do it? But i don't know how to get the tweet variable correctly, please help me. Thanks :)

[2022-03-22 15:19] redouane59 commented on #365
Hey, you have to get the tweetId from the postTweet method (it returns something!).

[2022-03-22 17:06] redouane59 commented on #364
Currently I only implement new v2 endpoints during my spare time, but if you have some availability, feel free to submit pull requests which implement what you need :)

[2022-03-22 18:04] LewBr commented on #365
Hello, thanks for the response, I have tried doing this:

[code]
and still doesn't work :/

[2022-03-23 03:58] sriharigr-threado commented on #364
Hey @redouane59, Sounds cool. Will try doing it. Thank you :)

[2022-03-24 04:16] sriharigr-threado opened #367 "[Twitter V1.1] - Unable to fetch complete text from searchForTweetsWithin30days"
The text is truncated. Am I missing something or is it not implemented yet? Thank you.

[2022-03-24 20:03] redouane59 commented on #367
Do you have some examples ? I never faced this problem.

[2022-03-26 11:55] gh-kirito commented on #358
Hi @redouane59,

sorry for the late response. I took some time but I think I hunted it down:

[code]

The test with missing credentials is failing. And as far as I can see your test only tests that the credentials are set to empty string.

Regards

PS.: I also noticed that you test suite for "V1" is annotated with `@Disabled`

[2022-03-26 19:14] redouane59 commented on #358
Hey @gh-kirito ,

Sorry i'm really busy these days, do you feel that you could submit a pull request to implement what you need ?

[2022-03-26 19:40] gh-kirito commented on #358
To be honest, for now I am fine with setting accessToken and accessTokenSecret to empty string. That works for. Maybe that is not the expected behavior in the first place but it is ok.

[2022-04-07 16:38] helpimnotdrowning opened #370 "How to set own account bio?"
I'm still learning java, so sorry if I've missed something easy.

I can't find any methods that would let me change my account bio. I know its definitely possible, since I've done it with tweepy for Python, but I can only find a way to get it in this project with `User.getDescription`.

Using:
* Java Adoptium JDK 17
* Windows 11 21H2
* twittered 2.16
* Twitter API v1.1 (i think)

[2022-04-08 10:57] redouane59 commented on #370
Hey @helpimnotdrowning , I don't think that the library has a method to set the user description.
Did you check the twitter API [documentation](https://developer.twitter.com/en/docs/twitter-api) ? Not sure such endpoint exists.

[2022-04-08 11:33] helpimnotdrowning commented on #370
I think the description parameter here https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/manage-account-settings/api-reference/post-account-update_profile would do this.

[2022-04-08 11:48] redouane59 commented on #370
Oh you're right. As it's v1 endpoints I didn't plan to implement it until the v2 version is released, but feel free to contribute submitting a pull request :)

[2022-04-13 07:06] sriharigr-threado commented on #367
Sorry for the late reply. I will add them in sometime.

[2022-04-15 03:26] 3penguinW opened #372 "Getcomment content API"
Hi ,
 I am trying to retrieve the comments for my posts and load it to my app(not just the count of comment). I've tried many method and still failed.  Is there anyway to implentment that.
Best  regards
pp

![image](https://user-images.githubusercontent.com/42200565/163513473-86b75706-b3a7-45f7-9e8e-97217d3587eb.png)

[2022-04-15 12:36] redouane59 commented on #372
Did you try to use the `conversation_id` parameter ?
See : https://developer.twitter.com/en/docs/twitter-api/conversation-id
(by the way I think your question is more for the Twitter API team, not so much related to this library)

[2022-04-21 03:53] 3penguinW commented on #372
I have tried these Offical APIs and returned 401 . Have you encountered this situation before
![image](https://user-images.githubusercontent.com/42200565/164368434-238fc200-6488-4a81-ac64-770449f57c69.png)
![image](https://user-images.githubusercontent.com/42200565/164368537-462de802-c6b5-435e-9513-ea4ba1e9912f.png)

[2022-04-22 10:40] redouane59 commented on #372
Strange, can you make sure that all your credentials are OK ? If you face the same problem inside swagger, then the problem is not related to my library.

[2022-04-26 18:34] jrsecret opened #373 "TwitterClient.getFollowing(userId) does not work?"
TwitterClient.getFollowing(userId)/TwitterClient.getFollowers(userId) returns null?
Or does it only apply to my own userId?

[2022-04-27 08:56] redouane59 commented on #373
On my side it is working fine, are you sure your userId is the right one ?

[2022-05-03 20:34] jormungander commented on #292
Did you have any ideas for how you wanted this implemented?
There's no base object to add the response header values to so they would have to be added to all the existing response objects, or else a base object created to contain the values and all the existing objects subclass from that.
Alternatively, the results from the last request to Twitter could be stored and then a call created to return

[2022-05-04 06:00] rzo1 commented on #292
I think, that the sanest way to implement would be to return the HTTP response headers encapsulated in the related response objects. Multi-Theading is a topic and we shouldn't stick with a stateful service as the rate limits per endpoint might differ.

It would be feasable (as a first step) to add a possibility to simply retrieve all response headers. Later we could add logic to parse / interpret

[2022-05-06 19:49] redouane59 opened #374 "sort_order parameter for search endpoints"
To be implemented.
See https://twittercommunity.com/t/introducing-the-sort-order-parameter-for-search-endpoints-in-the-twitter-api-v2/166377

[2022-05-06 19:50] redouane59 opened #375 "Implement Tweets shared in a Space and RSVP count to the Spaces endpoints"
See https://twittercommunity.com/t/bringing-tweets-shared-in-a-space-and-rsvp-count-to-the-spaces-endpoints/166746

[2022-05-06 19:51] redouane59 opened #376 "Implement Quote Tweets lookup endpoint"
See https://twittercommunity.com/t/introducing-the-quote-tweets-lookup-endpoint-to-the-twitter-api-v2/168370

[2022-05-21 19:05] redouane59 opened #377 "Implement home timeline V2"
See https://twittercommunity.com/t/reverse-chronological-home-timeline-in-the-twitter-api-v2/171549/1

[2022-05-31 00:02] ItsFunny opened #378 "mismatch version"
Could not find artifact io.github.redouane59.twitter:twittered:pom:v2.16 in central (https://repo.maven.apache.org/maven2)

[2022-05-31 00:08] #378 closed

[2022-06-08 08:24] apptaro opened #379 "characters are corrupted in request payload when default charset encoding is not UTF-8"
When the default charset encoding (file.encoding) is not UTF-8, `twitterClient.postTweet("あいうえお")` results in a tweet whose characters are corrupted.

This is because twittered uses OAuthRequest.setPayload(String), and ScribeJava uses String.getBytes() to obtain the byte array data of the request payload. To fix this issue, twittered should use OAuthRequest.setPayload(byte[]) and pass the result o

[2022-06-20 18:26] GotOneShot opened #381 "When you call the getUserTimeline() function, you don't get the images from the tweets"
I'm calling the getUserTimeline() with additionalParams in my code, but I don't get the images from the tweets.
Especially, im meaning the tweet.getMedia().get(0).getUrl() call.
You don't have data under getMedia().
But if you do the same by calling the getTweet() function, the media is existing.

[2022-06-21 16:52] redouane59 commented on #381
Hey, you're right it looks like the media object is empty.
Did you try to use `tweet.getAttachments().getMediaKeys()[0]`  ?

[2022-06-21 23:23] GotOneShot commented on #381
Hi I just tried, getAttachments().getMediaKeys()[0] also results in a empty (Null) Object

[2022-06-22 21:40] GotOneShot commented on #381
Thanks for the reply, a test Tweet ID would be "1538911345906794500"

[2022-06-24 17:22] redouane59 commented on #381
Can you please do the same test from postman and see if you have the needed information ?

[2022-07-07 12:10] john-baringhaus opened #382 "v2 getFollowers returns data = null when recursive call is set to false for user with no followers."
I'm not sure if this is intended behavior, but when I use getFollowers("userId", AdditionalParameters.builder().recursiveCall(false).build() ) the UserList returned contains null for that data field.

If I exclude the AdditionalParameters the data field is an empty ArrayList.

The user I'm specifying doesn't have any followers.

[2022-07-08 08:25] #382 closed

[2022-07-19 08:48] NxDs opened #387 "Typo in static method FilteredStreamRulePredicate#witUrl"
Should be FilteredStreamRulePredicate#withUrl

[2022-07-20 13:55] yohazz commented on #387
NXDS COME BAKC TO EXTREMECRAFT

[2022-07-20 14:26] iluvwemxns commented on #387
NXDS HI HRU🥺

[2022-07-20 14:36] GallowPeacer commented on #387
NXDS BESTIE ILY WHEN R U COMING BACK PLS REPLY TO MY DMS ON DISCORD I MISS U SO MUCH
( one question btw nxds r u real extremecraft player or just someone impersonating? cuz I'm confused so I want some answers)

[2022-07-20 14:53] SplashAni commented on #387
wtf hi

[2022-07-20 16:04] Ishwor-Dulal commented on #387
Yoo NxDs when are u gonna return to ec, we all miss u so much bruhh 😢😢😭

[2022-07-21 16:18] Diyosa commented on #387
Check Discord asap please

[2022-07-23 03:19] suyashjoshi opened #390 "List of APIs missing"
Is there an API list or API Docs like JavaDoc that explains which of the Twitter APIs are present in this library without reading all the code?

[2022-07-23 07:42] redouane59 commented on #390
Hello,
Currently the available APIs are only visible in
https://github.com/redouane59/twittered/blob/develop/src/main/java/io/github/redouane59/twitter/ITwitterClientV2.java
and
https://github.com/redouane59/twittered/blob/develop/src/main/java/io/github/redouane59/twitter/ITwitterClientV1.java
classes.

Don't hesitate to submit a pull request if you would like to present it differently, it will p

[2022-07-25 00:56] suyashjoshi commented on #390
Got it buddy, thanks!

[2022-07-25 00:56] #390 closed

[2022-08-02 19:17] mikebgrep opened #392 "How to avoid shadowbans"
I thinking of using the library I just have concern of Twitter shadowban my account.How can avoid that since I build a bot with python and I got shadowbans after each run.

[2022-08-03 10:22] redouane59 commented on #392
Hey @mikebgrep , if you respect the [twitter developer policy](https://developer.twitter.com/en/developer-terms/policy), you don't risk anything :)

[2022-08-03 12:53] mikebgrep commented on #392
They dont like mass following of accounts that's is sure.I will try to scale the action so they don't shadowban me again. Thanks for the replay.

[2022-08-03 13:12] #392 closed

[2022-09-10 11:38] takeshitakenji opened #393 "Allow timeout to be specified to TwitterClient.stopFilteredStream()"
I've been dealing with strange network timeouts during filtered streams recently, and while I was able to supply network timeouts to the HTTP layer by switching to Scribe's Apache HTTP client backend, twittered doesn't have a way to supply a timeout to [`TwitterClient.stopFilteredStream()`](https://github.com/redouane59/twittered/blob/db0de8939d68102a90f5ddf7976705c72f0aa211/src/main/java/io/githu

[2022-09-10 11:38] takeshitakenji commented on #393
I can put up a PR to add this later on.

[2022-09-10 11:40] redouane59 commented on #393
Hey @takeshitakenji , yes that's a good point. I don't really master this topic because it was developed by someone else but if you feel that you can improve it, feel free to submit a pull request !

[2022-09-10 11:41] redouane59 commented on #393
yes it would be perfect !

[2022-09-19 09:34] quyingyong opened #394 "Lombok @builder is null，Default value invalid"
![image](https://user-images.githubusercontent.com/12825648/190989457-b511a2ad-6409-4b6a-b5a8-b56703b8bc37.png)

[2022-09-19 10:40] redouane59 commented on #394
hey, thanks for the alert. Could you submit a pull request with this change ? :)

[2022-09-22 08:41] blizniukov opened #396 "Add media_key field to UrlEntityV2 class"
When url to media, it has `media_key` field, that is useful. Need to expand model.
https://github.com/redouane59/twittered/pull/397

[2022-09-22 10:48] lichao23 opened #398 "getTweet(String tweetId) mediaUrl has no value"
I posted a tweet with a video at https://twitter.com/
I use getTweet(String tweetId), but mediaUrl has no value in the media object

[code]

[2022-09-23 11:27] #396 closed

[2022-09-23 13:12] blizniukov commented on #398
Unfortunately this is not library bug. In Twitter V2 api there no url video in response. I am also waiting this feature from twitter

[2022-09-26 07:02] lichao23 commented on #398
Add the variants to request parameter media.fields. It has multiple display or playback variants, with different resolutions or formats

media.fields : duration_ms,height,media_key,preview_image_url,public_metrics,type,url,width,alt_text,**_variants_**

[code]

[2022-09-27 02:30] lichao23 commented on #398
Yes！ come on！
 I will wait for you to release the latest version

[2022-09-27 02:30] lichao23 commented on #398
Yes！ come on！
I will wait for you to release the latest version

[2022-09-29 10:02] blizniukov commented on #398
Done, now waiting for release)

[2022-10-01 09:14] redouane59 commented on #398
Yes we'll make a new release this month. I would like to wait for the new DM endpoint at the end of October.
Stay tuned :)

[2022-10-08 10:28] lichao23 commented on #398
If it's a quote from someone else's tweet, the source tweet's media also doesn't have a url value @redouane59 @blizniukov

[2022-10-08 10:31] lichao23 commented on #398
I have been waiting for this version, our app needs to use it

[2022-10-08 10:43] redouane59 commented on #398
I'll make a release now if you need it quickly, it's ok ;)

[2022-10-09 03:41] lichao23 commented on #398
Oh great!

[2022-10-09 06:46] quyingyong opened #408 "response.getHeader("Retry-After") This is not the rate limit return parameter for the v1.1 and v2 interfaces"
![image](https://user-images.githubusercontent.com/12825648/194742110-27a63dae-fc76-4bf2-835f-bb81b0e38c3e.png)

This is the correct return parameter ↓↓↓↓↓↓↓↓↓↓
![image](https://user-images.githubusercontent.com/12825648/194742125-f5d3e366-5e56-4c13-97ed-2e9859f1a689.png)

[2022-10-09 11:36] #398 closed

[2022-10-09 18:31] redouane59 commented on #408
Hey, could you submit a pull request with the fix and the associated test ?

[2022-10-10 07:11] blizniukov commented on #408
Created PR

[2022-10-12 02:55] lichao23 opened #411 "V2.19 BUG"
![338241665542864_ pic](https://user-images.githubusercontent.com/5652276/195238976-6814030b-b020-4f94-bbbe-1b777b087de7.jpg)
v2.18 works fine, but updates to v2.19 have this problem

[2022-10-13 12:49] redouane59 commented on #411
Hey @blizniukov , could you check this one ? I guess it's related to your PR https://github.com/redouane59/twittered/pull/403

[2022-10-13 13:46] blizniukov commented on #411
done

[2022-10-26 01:07] lichao23 commented on #411
@blizniukov @redouane59 Can a new version of this issue be released soon? We've been at a standstill for days

[2022-10-26 07:43] redouane59 commented on #411
Hey, I'm going to try to deploy a new version today or tomorrow.

[2022-10-26 19:48] redouane59 commented on #411
Done !

[2022-10-26 19:48] #411 closed

[2022-10-31 05:06] shai-almog opened #421 "Can't post tweet without elevated account (using the V2 API)"
I'm trying to post a tweet without the elevated permissions and getting an error since 1.x isn't supported. Looking at the code I see this line:
https://github.com/redouane59/twittered/blob/develop/src/main/java/io/github/redouane59/twitter/TwitterClient.java#L803

I tried to change `getRequestHelper()` instead of `getRequestHelperV1()`. But this won't work since `postRequestWithBodyJson` is V1 sp

[2022-10-31 19:03] redouane59 commented on #421
Hey @shai-almog , if I remember well, the getRequestHelperV2() is using oAuth2 (with token), and V1 is not.

What do you mean exactly by without elevated permission ? You want to use the credentials of another user than your own account ?

[2022-10-31 19:18] shai-almog commented on #421
No. I mean this
<img width="1177" alt="Screen Shot 2022-10-31 at 21 17 24" src="https://user-images.githubusercontent.com/67850168/199091537-47bf91d4-cede-4e42-bfdd-50b1d2bf7a8a.png">

[2022-10-31 19:28] redouane59 commented on #421
Oh OK, so you mean that with an essential account the method is not working right ?

[2022-10-31 19:31] shai-almog commented on #421
Yes.

[2022-10-31 19:58] redouane59 commented on #421
It looks like the essential account doesn't support the oAuth 1.0a

![image](https://user-images.githubusercontent.com/4500524/199098856-ad8d9353-db2d-4444-97ed-c5ccd79b91ee.png)

Maybe we should implement something related to OAuth 2.0 with PKCE. Honestly I'm not expert about that, if you think that you could develop it, I can try to help you.

[2022-10-31 20:01] redouane59 commented on #408
fixed

[2022-10-31 20:01] #408 closed

[2022-10-31 20:32] shai-almog commented on #421
I worked with OAuth but I can't say I'm deeply familiar with the nuances. I'll try to look into it.

[2022-10-31 20:35] redouane59 commented on #421
Ok feel free to submit a pull request :)

[2022-11-04 03:13] quyingyong opened #422 ".searchTweets(query) return data format exceeded the expected formatting failed"
.searchTweets(query)

When this interface is invoked, the data format returned is as follows

![image](https://user-images.githubusercontent.com/12825648/199876451-25fd7e09-f39d-460a-814d-a4ef02009378.png)

Different query parameters may return data items that do not meet expectations
Therefore, json formatting of the returned data for the searchTweets method needs to be compatible
![image](https:

[2022-11-04 05:58] quyingyong commented on #422
Can you import it in a pom file ？

![image](https://user-images.githubusercontent.com/12825648/199901427-15dd9cf4-5acb-4f63-8234-fa24b718ae92.png)

[2022-11-04 07:24] #422 closed

[2022-11-04 07:29] quyingyong opened #423 ".searchTweets(query)"

[2022-11-04 07:30] quyingyong opened #424 ".searchTweets(query) This method is not available, Search returns null"
.searchTweets(query)
This method does not work properly and returns null

[2022-11-04 07:31] #423 closed

[2022-11-04 07:42] #424 closed

[2022-11-04 09:12] redouane59 commented on #422
Hello @quyingyong , why did you close the ticket ? Is it not working now ?

[2022-11-16 01:00] rossspencer715 opened #427 "pom.xml links to missing version of jackson-bom"
Hi,

Not sure if I'm just missing something since I'm not terribly familiar with Maven yet and am trying to use this library in a school project, so apologies if this is a me problem.

If I try to sync my build.gradle app file with a dependency for Twittered versions 2.20 and 2.21, I run into:
[code]

The closest version I see on maven-central is 2.13.4.20221013, with no entry matching 2.13.4.1.
h

[2022-11-16 03:09] redouane59 commented on #427
Hey @rossspencer715 , it looks like it comes from here :
https://github.com/redouane59/twittered/commit/5832190859073d023bd5809e478d2be55c4aa16b

On my side the build is working. In maven, the version 2.13.4 of the library exists here :
https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-core/2.13.4
I don't know if the .1 after can be added by default without impact if using Mave